[2016-11-30 00:00] lsitu opened #2 "R&D porting existing pilot codes for displaying components in a complex object"
This will include the following R&D works done in dams5-cc-pilot:
https://github.com/ucsdlib/dams5-cc-pilot/issues/6
https://github.com/ucsdlib/dams5-cc-pilot/issues/28

[2016-11-30 00:09] lsitu opened #3 "R&D porting the existing pilot codes to add A-Z links to Facet view pages"
This will include the following feature in dams5-cc-pilot:
https://github.com/ucsdlib/dams5-cc-pilot/issues/33

[2016-11-30 00:14] lsitu opened #4 "R&D porting the existing pilot codes for alternate search results view(s)"
This will include the following feature in dams5-cc-pilot:
https://github.com/ucsdlib/dams5-cc-pilot/issues/9

[2016-11-30 15:59] lsitu commented on #4
@hweng I think Sufia already includes this multiple view feature, which looks good. So feel free to close the ticket.

[2016-11-30 17:09] #4 closed

[2016-11-30 20:49] hweng commented on #3
Porting code for this feature has been implemented in https://github.com/ucsdlib/horton/pull/5

[2016-12-09 22:34] #2 closed

[2016-12-22 16:52] lsitu opened #11 "R&D Fedora server side derivatives storage strategy"
CC/Sufia stores all thumbnail/derivatives on local disk. This ticket will discover the potential support with Fedora server side thumbnails/derivatives storage.

Related issues: https://github.com/ucsdlib/encrypted-stream-name/issues/1, https://github.com/ucsdlib/dams5-cc-pilot/issues/43

[2016-12-23 19:03] lsitu commented on #11
@mcritchlow I've created a [PR](https://github.com/ucsdlib/horton/pull/12) that persists thumbnail/derivatives to Fedora instead of local disk storage that CC/Sufia persists thumbnails. We've got a thumbnail, a preview file, and a service file persisted along with the master file on Fedora.

[2017-01-04 18:50] mcritchlow opened #13 "Add Continuous Integration and related plugins/services"
Please setup CircleCI, Code Climate, and access-lint accessibility integration for this repository.

[2017-01-04 23:08] mcritchlow opened #14 "Port Ansible playbook from CC pilot repo"
It looks like we still need to port the ansible work @jhriv did into this repository.

[2017-01-04 23:10] mcritchlow opened #15 "Hyrax Migration"
- [ ] Depends on #21

Not sure if we're going to do this yet, but placing some links here for reference assuming we do. The discussion, and migration of the Hydra in a box application from Sufia to Hyrax(the consolidated Sufia/CC project).

https://github.com/projecthydra-labs/hyrax/issues/4

https://github.com/projecthydra-labs/hyku/commit/a8b25cdf6630b425c8eed34fabb58b9a14523677

[2017-01-04 23:28] mcritchlow opened #16 "Work with U. Cincinnati to port RIIIF/Universal Viewer into Hyrax"
Univ Cincinnati has been working on porting RIIIF and Universal Viewer into Sufia.

@lsitu will work with Thomas and others at UC to port this functionality to Hyrax via the following [feature branch](https://github.com/projecthydra-labs/hyrax/tree/feature/iiif_integration)

The scope of this ticket will be:
* Get the IIIF work ported into Hyrax
* Test against Horton
* Identify any local configura

[2017-01-06 17:14] mcritchlow opened #17 "R&D: Queue options"
As Hyrax uses `active_job` to support message queues, we have a few options to consider in implementing our own queue system. The two obvious candidates are:

* Resque
* Sidekiq

There is a mix of usage in the community, so we should probably do a little research and ask around for people's experience, particularly as it relates to larger batch processes (since that will be our primary usage of th

[2017-01-07 00:03] #14 closed

[2017-01-07 16:27] mcritchlow opened #21 "Upgrade to Rails 5.x"

[2017-01-09 17:47] lsitu commented on #15
@mcritchlow Unfortunately we may need to work on ticket https://github.com/ucsdlib/horton/issues/21 to upgrade horton to use rails 5.0.0.1 first before migrating to hyrax. I got the following dependency error:
Resolving dependencies....
Bundler could not find compatible versions for gem "railties":
  In Gemfile:
    hyrax (= 0.0.1.alpha) was resolved to 0.0.1.alpha, which depends on
      railties

[2017-01-09 18:08] mcritchlow commented on #15
@lsitu - Yep, looks like they've pinned to Rails 5. Ok, Rails 5 first then.

[2017-01-12 16:34] lsitu commented on #15
@mcritchlow I'm trying migrate the [feature/rails5](https://github.com/ucsdlib/horton/tree/feature/rails5) branch and get Object ingest working now. With the structure changes, the migration of collection codes seems to have a little trouble and I am looking into it now.

[2017-01-14 01:56] lsitu commented on #15
@mcritchlow I've created PR https://github.com/ucsdlib/horton/pull/23 for Hyrax migration. As noted in the PR, only the CSV Ingest/import support issue haven't been fixed, which is derived from the underlying support with batch ingest in Hyrax.

[2017-01-17 16:13] mcritchlow commented on #17
After a decent amount of research, it seems pretty clear that Sidekiq is being used by the [majority of the Rails community](http://blog.scoutapp.com/articles/2017/01/09/state-of-the-2017-rails-stack), and I've noticed new Hydra apps are using it s well. It is also noticeably faster and comes with an option for paid support (along with additional features) that we could evaluate in the future.

So

[2017-01-17 16:28] lsitu commented on #17
@mcritchlow Sidekiq looks good and I am fine with it.

[2017-01-17 16:29] mcritchlow commented on #17
@lsitu since this overlaps with your work in #23 and #15 do you think it makes sense to break out any additional configuration/etc. into the scope of this ticket?

[2017-01-17 16:42] lsitu commented on #17
@mcritchlow Yes. It sounds good to break it out any additional configuration/etc. into the scope of this ticket. Thanks.

[2017-01-17 23:52] mcritchlow opened #24 "R&D: Integration of ARK Minter"
Horton is currently using the out-of-the-box AF:NOID functionality.

Task:

- [ ] Identify how to change the minter configuration to using our ARK minter
- [ ] Document this in the README, or elsewhere as agreed upon by group.

If time permits, we can adjust this ticket to include the actual changes necessary including, but not limited to:

- [ ] add code/configuration to use ARK minter (dependent

[2017-01-18 17:38] lsitu commented on #17
@mcritchlow I am able to setup Resque/Resque Pool and try to use it for CSV/Batch Ingest. I don't see any warnings/errors for ingest and it seems like that the records and thumbnails are showing up faster and in the orders of ingest, while using Sidekiq the order is messing up and often I need to wait longer time for all the records to be showing.
Would you like me to create two different PRs for

[2017-01-18 17:52] mcritchlow commented on #17
@lsitu That's interesting. Given everything that I've read, I'd be very surprised for Resque to be faster than Sidekiq. Speed is one of the main things Sidekiq says is has over other solutions like Resque, Delayed Job, etc.. I suspect there might be configuration details, such as adding tweaking the [priority of the queues](https://github.com/mperham/sidekiq/wiki/Advanced-Options#queues),  setting

[2017-01-18 18:02] lsitu commented on #17
@mcritchlow I think the problem is the warnings "Error while trying to deserialize arguments" which interrupt the ingest: https://github.com/ucsdlib/horton/pull/23#issuecomment-273218815. But yes, we can review the option later to see whether this warning still an issue or not.

[2017-01-18 20:35] lsitu commented on #17
@mcritchlow I've created PRs for [Resque](https://github.com/ucsdlib/horton/pull/25) and [Sidekiq](https://github.com/ucsdlib/horton/pull/26).
The configuration for Sidekiq includes concurrency setting now. It seems that it's much faster for all records with thumbnails created to be showing up now. And I don't' the warnings like "Error while trying to deserialize arguments" (see https://github.com

[2017-01-18 21:12] mcritchlow commented on #17
@lsitu - ah, yep. SQLite can't do concurrent access as you noted. So it looks like we'll need to get it setup with a proper postgres DB.

I think the additional record ingest could be either an issue as a result of the concurrency we're seeing and SideKiq's attempt to retry, or a bug in one of the jobs as you noted. Sidekiq does make it pretty explicit that the jobs [need to be idempotent](https:/

[2017-01-19 19:36] lsitu commented on #24
@mcritchlow Looking into the AF:NOID module, I found it supports internal minter by default and won't be able to support external ARK minter by configuration. If we want to support external ARK minter, we may need to create a custom minter to override it. But we can disable AF:NOID and to mint IDs from Fedora, which is the the default behavior. In this case just use the configure in Fedora for the

[2017-01-19 21:34] mcritchlow commented on #24
@lsitu - I think that plan makes good sense. AF:NOID for dev/test environments and configure Fedora to mint ARKS for prod. We have been using the dev minter for our current test environment, so we could potentially continue that practice as well.

[2017-01-19 21:55] mcritchlow commented on #11
@lsitu - possibly of interest, there was a refactoring of some of the code this depends on to extract out the derivative handling to a [service class](https://github.com/projecthydra-labs/hyrax/pull/288/commits/a38179c7840550770d565a6d57cc206fc1a33e8b).

[2017-01-19 21:56] lsitu commented on #24
@mcritchlow Yes, we can override the default AF:NOID to use the dev minter for test. But we can simply let the default AF:NOID take care of it without any code changes though. I think we may need to make the decision regarding what ARK minting strategic for each environment when moving forward.

[2017-01-19 22:01] mcritchlow commented on #24
@lsitu yep, that's one of the TODO's in the original part of this ticket. Dev and Prod seem pretty self-explanatory. So we probably just need to discuss pros/cons of the test environment minter options and make a call.

[2017-01-20 16:22] mcritchlow opened #27 "Auto-complete fields with long CVs"
Some of our form fields, such as Language, will have a long list of potential matches from CV lists.

We should:
* look into what options we can leverage from Hyrax and QA "out of the box"
* Review those options with @ucsdlib/domm
* Determine what customization needs, if any, there are and document and perform that work

[2017-01-24 22:05] lsitu commented on #24
@mcritchlow I've added the configuration support to enable the using of Fedora IDs that was support to has ARK minter integration. See https://github.com/ucsdlib/horton/commit/ae9e50c8a0f1dfb0f2dadefd4eab90e555ce8e9d.

[2017-01-25 00:38] mcritchlow commented on #24
@lsitu that looks great 👍

[2017-01-27 16:03] mcritchlow commented on #16
Of possible interest as well, Cincinnati is working on integrating RIIIF and Universal Viewer in their Sufia app https://github.com/uclibs/scholar_uc/commit/9787cd0660085b52235060181b4b621ee74c4dbe

[2017-01-31 21:48] lsitu commented on #27
@ucsdlib/domm Looking into the support from Hyrax and QA "out of the box", I can't find much options but the build-in auto-complete with QA works in this case and I've created a PR with commit https://github.com/ucsdlib/horton/commit/b7c49e463143e74adee314e405b21b53d3fe08b3 for language support.
With auto-complete, when we type in more than two characters in the language text input box, a query wi

[2017-02-01 00:28] remerjohnson commented on #27
@lsitu Looking over the language vocabulary, pulling up auto-complete after 2 characters seems like a good "sweet spot" interaction-wise. I imagine we could demo this at a future sprint review, rolled into other developments?

@mcritchlow We will also need this functionality for "roles" at some point...  unfortunately I don't believe that [DMPS settled on the specifics of vocabularies](https://lis

[2017-02-01 00:43] lsitu commented on #27
@remerjohnson Yes I think we could demo the auto-complete feature sometime in a future sprint review.

[2017-02-01 17:39] lsitu commented on #27
@ucsdlib/developers Please review, comments ... Thanks.

[2017-02-01 17:39] mcritchlow opened #30 "Update to latest Hyrax"
Once #29 is merged:

Please update the hyrax dependency and determine any changes that are needed on our end to get in sync with the latest changes upstream.

If the scope of changes is significant, we can break the work out into separate tickets (hopefully it's not).

[2017-02-01 18:24] #27 closed

[2017-02-01 19:36] #21 closed

[2017-02-01 19:36] #15 closed

[2017-02-03 00:37] #13 closed

[2017-02-03 00:39] mcritchlow opened #32 "Update Circle CI Ruby version to latest possible"
Following up on #13:

Please update Ruby to the latest version possible. There was a noted issue with 2.4.0, but hopefully we can either get past that, or at least upgrade to the latest 2.3.x

[2017-02-03 15:12] #24 closed

[2017-02-03 16:35] #30 closed

[2017-02-03 16:44] mcritchlow opened #34 "Add Coveralls/Hound CI reporting"
Following the work @hweng did on https://github.com/ucsdlib/billing-ill/issues/98

Please add Coveralls and Hound CI to this repo.

For linters, let's start with rubocop. We can also discuss CSS/JS options, but it doesn't have to be in scope for this ticket.

[2017-02-03 17:09] #17 closed

[2017-02-03 18:10] mcritchlow commented on #11
@lsitu i'm curious what your thoughts are on moving ahead with this. Should we wait until we have a viable test environment to do performance testing? It seems like we might have a related dependency on IIIF implementation as well, at least for images. If so, we could perhaps have you dig into IIIF next Sprint.

[2017-02-03 18:39] lsitu commented on #11
@mcritchlow I believe it's still hard to make a final call for derivatives storage and potentially the master file storage. In Fedora 3, files are separated from Fedora, which is more convenient for migration and management. And now lots of institutions are looking for solutions to separate the files from Fedora. Maybe we can pay more attention to this approach too.
For IIIF, yes, it seems like a

[2017-02-06 18:49] mcritchlow opened #35 "Add Gemnasium coverage"
- [x] Add gemnasium coverage to `develop` branch
- [x] Add Slack hook to `its-notifications` channel

[2017-02-06 18:50] #35 closed, assigned to mcritchlow

[2017-02-08 20:09] hweng commented on #32
@mcritchlow I've tested to upgrade to ruby 2.4.0 on billing-ill first and it got failed, which is the same errors as the horton upgrades:

[code]

Look at https://github.com/rails/rails/issues/27450, "Component 'json' of Ruby on Rails not working with Ruby 2.4.0". it seems the common issue for Ruby 2.4.0

I will try the workaround approaches to see if it can fix the issues.

[2017-02-08 20:10] mcritchlow commented on #32
@hweng yeah, this is what @VivianChu ran into as well.

Sounds good on trying workaround ideas.

Worst case, maybe we update to the latest 2.3.x for now and then try again for 2.4 later?

[2017-02-08 20:15] hweng commented on #32
@mcritchlow Someone suggested gem json -v 1.8.5 is support it, and It has been published last month.
Let me try it to see how it is going on.

[2017-02-08 21:41] hweng commented on #32
@mcritchlow I've tried it on billing-ill, then it comes up different errors one by one which requires to upgrade a bunch of gems but mainly are rails 5 , rspec-rails and rubocop dependency gems.
Now the bundle install in circleci looks fine to me that all gem install errors are gone. It passed DEPENDENCIES, DATABASE step and moved to TEST step:
https://circleci.com/gh/ucsdlib/billing-ill/57?utm_ca

[2017-02-14 23:20] #32 closed

[2017-02-15 19:42] mcritchlow opened #37 "Update README"
The `README.md` file should be updated to address the following:

- [x] Remove line about the repo being for spikes only. We're past that point, this is the real deal 😄
- [x] Add a line about starting `redis-server` to the startup instructions, that appears to be a gap
- [x] Add badge for Coveralls
- [x] Add badge for Gemnasium

[2017-02-15 23:01] lsitu commented on #37
@mcritchlow It looks like we may need an account on Converall to create the badge for horton. The url should be something like https://coveralls.io/repos/ucsdlib/horton/badge.svg. How should we proceed with it?

[2017-02-15 23:33] mcritchlow commented on #37
@lsitu - I added coveralls for horton. cc/ @hweng since that's relevant for #34

You should be able to login with your GH account and see the details here: https://coveralls.io/github/ucsdlib/horton If not, let me know.

[2017-02-16 00:00] lsitu commented on #37
@mcritchlow Yes, I can see it now. Thanks.

[2017-02-16 00:08] lsitu commented on #37
@ucsdlib/developers Please review, comments ... Thanks.

[2017-02-16 00:22] hweng commented on #34
@mcritchlow Should I remove ENV['TRAVIS'] or remove the whole method of coverage_needed? and the "if coverage_needed?" condition https://github.com/ucsdlib/horton/blob/develop/spec/spec_helper.rb#L5 ?

[2017-02-16 00:32] hweng commented on #34
@mcritchlow I prefer to remove "if coverage_needed?" condition. What do you think?

[2017-02-16 00:36] mcritchlow commented on #34
@hweng yeah, I agree. That looks historical, and not particularly relevant now. We're definitely not using Travis, and we're pinned to Rails 5+.

[2017-02-21 15:33] mcritchlow opened #40 "Upgrade to latest Hyrax"

[2017-02-21 15:36] #37 closed, assigned to lsitu

[2017-02-21 17:59] mcritchlow commented on #16
Just adding a note that I think the UC folks have been focusing on other work last Sprint, since there haven't been updates to the [ticket](https://github.com/uclibs/scholar_uc/issues/898) in a little while. We'll circle back with them this Sprint.

[2017-02-21 20:16] #34 closed

[2017-02-21 21:53] mcritchlow opened #41 "Statistics Requirements"
### Descriptive Summary

We currently have all our statistics managed internally by DAMS Manager.

The scope of this ticket is to gather and document the requirements for DAMS5 statistics. This can be in the form of use cases or user stories.

Once we have this information, we should share with Mike Giarlo and get a sense of how many of our gaps might be worth filling at the Hyrax vs local level.

[2017-02-22 00:46] lsitu commented on #41
@mcritchlow Do we have a google account to support Google Analytics, or we have to use our own private account to create the horton project and the service account with credentials for the support?

[2017-02-22 17:16] mcritchlow commented on #41
@lsitu - I believe we have a generic account that might work. I'll check. Also just noting that this ticket isn't quite ready for work yet, it's just a placeholder for now while we gather information.

[2017-02-22 17:43] lsitu commented on #41
@mcritchlow That sounds great if there is a generic account for it. I was looking into the materials for the support yesterday, and I won't work on it until you think it's ready. Thanks.

[2017-02-24 18:25] mcritchlow commented on #41
An update on this:

* @gamontoya and @hjsyoo will work on gathering and documenting requirements
* Operations is working on a general GA account we can use for setting up credentials/keys needed for Hyrax integration

[2017-02-24 18:31] mcritchlow commented on #41
Note: I'm going to split this ticket into 2. One for requirements gathering (assigned to Gabriela and Ho Jung) and the other for initial setup and configuration ( @VivianChu is going to work on that part)

[2017-02-24 18:34] mcritchlow opened #44 "Initial setup and configuration for GA integration"
### Descriptive summary

We need an evaluation of the [built in statistics features](https://github.com/projecthydra/sufia/wiki/Feature-matrix) in Hyrax (below) and a gap analysis performed to get a sense of the amount of work we'll need to port out statistics requirements to our new system.

* Capture usage statistics -- [requires Google Analytics ID to be specified in Sufia initializer](https://

[2017-02-24 20:39] #40 closed, assigned to VivianChu

[2017-02-24 22:46] mcritchlow commented on #11
After speaking with @lsitu, @rstanonik and @jhriv and Mike last week, and again with @lsitu today, we've decided to move forward with the following:

* We will use the default Fedora filesystem persistence strategy
* We will use the default Hyrax derivatives persistence strategy. Master/source files to go Fedora, derivatives are put on disk. This will require a share/directory agreed upon with OPS

[2017-02-24 23:07] mcritchlow opened #46 "Create initial delimited import template"
### Descriptive summary

Create an initial csv import template to be used for initial tool R&D.

Focusing on:
1. hierarchical components
2. linked records
3. CSV vs TSV vs Excel - is there a preferred format that will make life easier for DOMM and Dev?

Deliver:
* An initial template
* An initial set of unit and acceptance tests

### Dependency
#111

### Related work

Ticket migrated from https://

[2017-02-24 23:17] mcritchlow opened #47 "Update A/V streaming viewers"
### Descriptive summary

Decision was made in #11 to use the default Hyrax persistence strategy for derivatives. As a result, A/V streaming configuration/viewers and any related tests should be adjusted as necessary.

### Related work

https://github.com/ucsdlib/encrypted-stream-name/issues/5

[2017-02-27 16:26] ghost commented on #46
@mcritchlow for "2. linked records", do you mean including URIs for concepts, like names and subjects?

[2017-02-27 16:37] mcritchlow commented on #46
@GregReser yeah, exactly.

[2017-02-27 16:42] ghost commented on #46
Would URI's be required?  We would need a pre-ingest tool to generate ARKs for all concepts already in the DAMS, then we would find URI's for the rest?

[2017-02-27 17:00] ghost commented on #46
Maybe the fastest way to completing this initial import tool would be to duplicate the functions of the current tool, with a few improvements.  For URIs, we could do something similar to our pre-OLR ingest subject import, but expand it to agents.

[2017-02-27 17:00] mcritchlow commented on #46
So that's a good question, and I think maybe gets at how the batch import tool fits into the overall DOMM workflow where you're presumably using something like Open Refine first. I'm not sure we need a separate tool. I think, similar to what we do now (though @lsitu would know better), we could do something like:

[code]

Another variant on the String path is to just directly create a URI instead

[2017-02-27 17:14] mcritchlow commented on #46
@GregReser - I think that's a good practical approach.

Just noting here that if we do choose to use Excel as the file format, instead of CSV/TSV, I checked with Alex and for a different tool he used the following gems were useful:

* https://github.com/weshatheleopard/rubyXL (we could just use this if we can stick to `.xslx`
* https://github.com/zdavatz/spreadsheet (we would need this if we have

[2017-02-27 17:43] lsitu commented on #46
Thanks @mcritchlow for the information.
@GregReser I think starting from something similar to our current support sounds good. Just FYI, here is a simple CSV example with just several fields that I set up for the purpose of testing the potential CSV batch ingest support in DAMS5: https://github.com/ucsdlib/horton/blob/develop/spec/fixtures/template_csv_import.csv

[2017-02-27 17:52] remerjohnson commented on #46
The current workflow for OpenRefine reconciliation I have on a per-collection basis is if I have more than about 30 subjects, it is faster to just reconcile those in OpenRefine (otherwise there's manual lookups, recording the URIs, putting them in our Google Sheet post-ingest, etc.). And of course the larger the amount of subjects, the saved time goes up dramatically.

[2017-02-27 18:07] arwenhutt commented on #46
Just another vote for sticking to current functionality (by and large) and leave external reconciliation tools for later.

One of the things my review of the subject/name files is reminding me of is how unreliable automated reconciliation can be.  Even when there's an exact or strong string match, it can be an incorrect match, especially for names.  I think for now erring on the side of more manua

[2017-02-27 18:34] mcritchlow commented on #46
I agree w/ @arwenhutt, and it sounds like we all do as well.

Given the conversations this morning on slack, do we want to, for now, also say we'll also be sticking with Excel `.xlsx` as the **only** supported file type for ingest? At least, for the MVP release of the batch import tool?

It sounds like the most directly useful file format to initially support, given the current DOMM workflow?

[2017-02-27 18:58] ghost commented on #46
Yes, for now we should stick with the current functionality for ingest: string match against existing DAMS ARKs.  I would advocate for updating the subject import tool soon though so we can increase the speed and accuracy of that process.  We will also want to expand it to import Agents.

I'm OK with sticking with .xlsx for now.

[2017-02-27 19:02] mcritchlow commented on #46
@GregReser - updating the existing subject import tool in DAMS4 or are you referring to the need for one in the new system? I'm trying to sort out what to do with that re: new ticket(s)

[2017-02-27 19:37] ghost commented on #46
@mcritchlow Yes, in the new system.  I'd like to suggest a couple of improvement that might not require a lot of dev time.

[2017-02-27 19:41] mcritchlow commented on #46
@GregReser Ok, so that's probably a separate ticket in this repo then for re-creating that feature. I'll get that setup.

In the context of this ticket, it sounds like we can proceed assuming the tool will be available to fill the role it currently does in the ingest process?

[2017-02-27 19:48] remerjohnson commented on #46
I find supporting .xslx only suboptimal but it seems I'm being outvoted, so we can proceed on that.

[2017-02-27 20:02] ghost commented on #46
@mcritchlow Yes, I can proceed with this ticket.

[2017-02-27 20:48] mcritchlow opened #48 "Support batch ingest of non-Work records"
### Descriptive summary

DAMS Manager currently provides support for batch ingesting subjects. This feature needs to be ported to horton, with support for new linked record object types:

- Agent
- Concept
- Place

Currently assuming the file format for ingest is Excel `.xlsx`

### Rationale

The pre-ingesting of records that Works will link to is part of the current DAMS4 workflow that @ucsdlib/d

[2017-02-27 23:35] ghost commented on #46
For Dates, the range is edm:TimeSpan and we using 3 properties label, begin, end.  I think we want to have these correctly associated with each other if there are multiple date predicates.

We could have three columns for each date type:
Date:created Date:createdBegin Date:createdEnd

I'm thinking to minimize the number of columns by placing the three property values in a single cell:
label (begin

[2017-02-28 00:23] lsitu commented on #46
@GregReser Are we still going to use the pie ( | ) for multiple values delimiting? If we are going to follow the current convention in dams4, then we've done something similar for Related Resource as cell delimiting with @ for multiple properties (description @ uri).

[2017-02-28 16:16] ghost commented on #46
@lsitu I need to confer with others before I say how we will delimit multiple properties in the template.  I willget you an answer as soon as possible.

I will say that, because the the new template will be created and reviewed by people before ingest, we will want it to be human-readable, like the current ingest template.  This means some cell values will be user-friendly labels that are mapped t

[2017-02-28 17:13] ghost commented on #48
Yes, we will continue to use Excel .xlsx for the ingest file.  Updated template to be provided.

New feature for Pre-ingest validation
- "Search existing DAMS records"
  - Purpose: This will run before import and is similar to the ARK report generated after import by the current subject import tool.  It will allow the user to know which terms already have DAMS ARKS so they only have to import new

[2017-02-28 18:43] remerjohnson commented on #46
I think what the issue is that pipe `|` is a "global" trigger to make things multiple values in the sheet.

Therefore, we could do your thing above but instead use an `@` :

[code]

But of course you could adjust the syntax as needed for convenience/clarity

[2017-02-28 18:49] ghost commented on #48
Here is the sample import Excel file.
I added alternateLabel for cases where we are changing the label from the data provider to a different form - we still want access via that other form.
[Uploading non-object_import.xlsx…]()

[2017-02-28 18:58] lsitu commented on #48
@GregReser It looks like something is wrong with the sample import Excel file "Uploading non-object_import.xlsx…" that you attached. Could you take a look?

[2017-02-28 19:26] arwenhutt opened #50 "Technical metadata requirements"
### Descriptive summary
Vet standard cc/hyrax technical metadata properties with Stefan and Annalise to identify anything missing and which properties they may be able to provide as output from their processing.  This would be a good time to also look at the alignment between the DAMS4 terms and the DAMS5 terms and create an initial mapping.

### Deliverables
1) List of any technical metadata prop

[2017-02-28 20:17] ghost commented on #48
@lsitu Can't get the spreadsheet to upload, so I sent it to you in an email

[2017-02-28 20:30] lsitu commented on #48
Thanks @GregReser. Yes, I see we can't attach the XML format files in the past and I have to use a different file extensions like .txt. But it looks like it should support files types like PNG, GIF, JPG, DOCX, PPTX, XLSX, TXT, PDF, or ZIP.

[2017-02-28 21:11] remerjohnson commented on #50
The [technical metadata exports from the cc pilot](https://github.com/ucsdlib/dams5-cc-pilot/issues/23#issuecomment-255160183) are relevant so wanted to call those out here.

Also, a more high-level view is available as the [Technical Metadata Application Profile](https://wiki.duraspace.org/display/hydra/Technical+Metadata+Application+Profile)

[2017-02-28 21:40] lsitu commented on #48
@GregReser I see the following Agent types in the sample import Excel file:
Agent:Person
Agent:Group
Agent:Organization

From the [data dictionary](https://docs.google.com/spreadsheets/d/1OjTm1Kuzo-An-THdpUkjwa5puul-b4Lx3SK0lB6rvl8/edit#gid=616154196), I am a little confusing with their complexities:

- Are these ucsd:Agent instances with types in FOAF (http://xmlns.com/foaf/spec/) for foaf:Person

[2017-02-28 21:43] ghost commented on #46
@lsitu We will place multiple properties in a single cell as formatted text.  For now, only a couple of columns will use this, but we should plan for the future in case we use in in more columns.  It would be best to use the same cell format, so metadata preparation, review, and code development, are easier.

To make the cell text visually easier to understand, it would be good to clearly separate

[2017-02-28 21:59] remerjohnson commented on #46
@GregReser I do think, as I and Longshou noted above, that we should keep the pipe as a "global" multi-value indicator, while @ is more of a per-cell rule, therefore, we'd have to find some other way to delimit the begin/end date values within the value. I'm sure @lsitu might have some ideas on that.

[2017-02-28 22:08] ghost commented on #46
I was thinking the name:value pairs were repeated within the { } so pipe made sense.  That's a pretty loose definition though :)
A comma is too common to work.  I don't think we want to place the value in quotes, e.g., begin:"1925-01-01", because we don't use quotes anywhere else and it might cause confusion (When do I have to use quotes?)

Is " , "  safe?
Other ideas?

[2017-02-28 22:16] remerjohnson commented on #46
@lsitu can correct me if I'm wrong, but since we are calling out key-value pairs, `begin:` and `end:` seem to be fine to indicate a value is bound to those keys. But again I may be wrong there. So:

[code]

[2017-02-28 22:23] lsitu commented on #46
@remerjohnson @GregReser It does sound good to me for supporting a simple case like that.
But if we are going to use name/value pairs used in cell properties after @ with a more general support, maybe we can balance a machine readable format like JSON ({key1:"value1", key2:"value2", ...} ), Hash ({:key1=>'value1', :key2=>'value2', ...}) etc.

[2017-02-28 22:31] ghost commented on #46
@lsitu I'm concerned that placing the value in quotes might cause confusion because we don't use quotes around values anywhere else.  The questions would always arise: "When do I have to use quotes?"

[2017-02-28 22:40] remerjohnson commented on #46
I _think_ that the context of it being within the curly brackets `{}` would allow that to work (i.e., those brackets set up basically JSON syntax rules.

But agree if that isn't the case, I wouldn't want to always have to escape double quotes like `\"\"`

[2017-02-28 23:04] lsitu commented on #46
Yes, I agree. It's just related to how we interpret the values within the curly brackets {}. It will be nice to use a pattern that is more human readable and machine readable.

[2017-03-01 15:51] ghost commented on #46
Yes, it's inspired by JSON, but made more human readable and following some of the conventions of our template.

I would like to avoid using quotes because it adds another rule and some clutter for humans.
@lsitu would it be possible to parse  this, as Ryan suggested?
@{begin:1925-01-01 end:1925-08-03}

In this case, the keys are the separators

[2017-03-01 16:42] lsitu commented on #46
@GregReser Yes, it'll work for the case like @{begin:1925-01-01 end:1925-08-03}. But we may need to know about the keys in advance when we are making it "the keys are the separators". Do you have other use cases for the using of key/value pairs in the curly brackets {}? And do you have any thoughts regarding extending the use of this key/value pairs encoding in the future?

[2017-03-01 16:53] ghost commented on #46
I think we should apply this to related resource to be consistent.  That will probably be all right now.

Locus 920, Area F, Area Stratum BR, BEDROCK CELL 8 @{uri:http://library.ucsd.edu/ark:/20775/bb7987903k}

We should have a controlled set of keys and these should part of the pre-ingest validation.  If an unrecognized key within {} is detected, an error should be reported.  I will supply this l

[2017-03-01 16:55] mcritchlow commented on #46
Feel free to add that requirement (controlled key list) in the description of this ticket as you see fit @GregReser, I think it would be good to have detailed there.

[2017-03-01 16:59] ghost commented on #46
Last (I hope) question before I pass the first draft of the new template for dev...

Do we have a need for more than 2 files per object/component/sub-component?
Should we fold file and file use into a single column so we can repeat it as many times as necessary?

myFile.tif @{fileUse:image-source}

[2017-03-01 17:13] lsitu commented on #46
@GregReser It sounds good to me. What's the rules to identify all the keys within {}?
When moving forward with the fileUse properties, it looks like we may need to map dams4 fileUse properties to PCDM file use (http://pcdm.org/2015/05/12/use) and add additional file use properties for DAMS5. @mcritchlow Do you have any suggestions on it?

[2017-03-01 17:29] mcritchlow commented on #46
No specific suggestions other than agreeing that if we don't already have a mapping for those properties we should do so. Probably in the data dictionary? I think @remerjohnson may have started looking into this?

[2017-03-01 17:35] arwenhutt commented on #46
@GregReser Do we have a need for more than two files per component?

My inclination is to leave values in separate columns as much as possible, unless there's a compelling need for a more complex encoding.

[2017-03-01 17:50] remerjohnson commented on #46
@mcritchlow I have, but a complete mapping is not possible now since we don't just have the idea of "use" in relation to objects, but also specific rules about what happens to certain things like documents/audio/video. So if a rough mapping of say `document-service -> pcdmuse:ServiceFile` and `data-service -> pcdmuse:ServiceFile` is fine (note the many cases of overlap and lossiness), I could do t

[2017-03-01 19:21] mcritchlow commented on #3
@hweng this work was completed, right?

[2017-03-01 19:29] hweng commented on #3
@mcritchlow  I think most is done. Maybe just need to update the catalog_controller configuration to upper-case letter for  A-Z links.

[2017-03-01 19:31] #47 closed, assigned to lsitu

[2017-03-01 20:14] mcritchlow commented on #3
OK, so enhancing what you've done in this ticket already. I'll set that up as a new ticket for next Sprint. If there are other related blacklight things we should port, please let me know.

[2017-03-01 20:16] mcritchlow opened #52 "A-Z links should be displayed in uppercase"
### Descriptive summary

Work to port A-Z link functionality was done in #3 via #5

Currently these display as lowercase, and they should be displayed as uppercase

### Rationale

This follows the convention folks expect from DAMS4

### Related work

#3

[2017-03-01 20:17] #3 closed

[2017-03-01 20:36] mcritchlow opened #53 "Port WYSYWIG support"
### Descriptive summary

Please port/recreate the ability for users with curator access to edit (and possibly create) new pages that they are able to edit themselves.

Examples under the Help menu of Digital Collections app.

While this feature is currently implemented in damspas in the following manner, this need not be the exact same implementation in Horton. If there are other options that may

[2017-03-01 20:39] mcritchlow opened #54 "Port auto-linking feature"
### Descriptive summary

Currently in DAMSPAS, a hyperlink in any displayed text is "auto-linked" via the Rails autolink gem [1]. We need to port this feature to Horton.

If there is a newer/better gem that provides the same functionality, please feel free to recommend.

1. https://github.com/ucsdlib/damspas/blob/develop/Gemfile#L26

### Rationale

The feature is expected behavior for a variety of

[2017-03-01 20:49] mcritchlow opened #55 "Port Sitemap feature"
### Descriptive summary

We need to recreate the sitemap feature we have in damspas, currently using the following gem [1].

If there is any built-in feature in Hyrax, perhaps we can use that and configure as needed.

If there is not, please port the sitemap feature to Horton.

1. https://github.com/ucsdlib/damspas/blob/develop/Gemfile#L16

A dependency on completing this work is a decision about

[2017-03-01 20:49] ghost commented on #46
I've had one collection that wanted more than two files per component, but we ended up zipping the files into one, so it was not a problem.

Agreed - we'll stick with the current separate columns for file and file use.

[2017-03-01 20:57] mcritchlow opened #56 "Implement Deployment Strategy"
### Descriptive summary

While DAMSPAS uses Capistrano for deployment, Horton is being configured to rely on Ansible. As a result, we need to decide between sticking with Capistrano or switching to use Ansistrano [1].

1. https://github.com/ansistrano/deploy

### Rationale

We need to choose the best deploy strategy that fits in our new environment, for Horton, and create an initial MVP. This will

[2017-03-01 21:28] mcritchlow opened #57 "Port Advanced Search"
### Descriptive summary

damspas currently uses an older version of the Blacklight Advanced Search plugin [1].

Please add the latest version of this plugin to Horton and mirror the configuration from damspas as much as it is practical. Please comment if configuration issues arise we should discuss, but the idea is for an "out of the box" evaluation of the latest plugin prior to any significant co

[2017-03-01 23:29] ghost commented on #46
@lsitu In the dams4.2 data dictionary Google sheet, we had specified a way to format identifiers.  Do you recall if we are going to use that or were there discussions about modifying it?
Example: urn:x-public-id:doi:10.1000/182

For the ingest spreadsheet, there will be a column for each identifier type, e.g., identifier:doi and the cell value will be just the identifier value, e.g., 10.1000/182.

[2017-03-02 00:05] lsitu commented on #46
@GregReser I don't recall that we have any further plans to discuss and modifying it so I assume that we are going to use it. And as your example showing, the values in the "URN Example" column should be the format of the final ingested value of the identifiers. @mcritchlow Could you correct me if it's wrong?

[2017-03-02 00:09] mcritchlow commented on #46
@lsitu Yep, I think that's correct as far as the current state of that discussion.

I admittedly wonder if it's ultimately easier to just have separate properties for each identifier type, for dealing with things like indexing, display order, access control, etc. But I can also see the value in just moving forward with what's already documented.

[2017-03-02 00:11] remerjohnson commented on #46
@mcritchlow Yeah we had a little back-and-forth on that. Like listing bare ORCIDs in its own field seems... disjointed unless those could get labels pulled

[2017-03-02 01:12] mcritchlow commented on #46
@remerjohnson What do you mean by labels pulled? The current spreadsheet seems to be using a static/fixed label for each identifier type. So every ORCID will be displayed as:

ORCID http://orcid.org/0000-0003-3270-1306

Or something. The ORCID label could be whatever we wanted, but it would be the same display label for every ORCID instance, right?

[2017-03-02 01:18] remerjohnson commented on #46
@mcritchlow yeah going to think about this more. ORCIDs should obviously be binded to Agents/authorities, so going to think about how that would happen in the template

[2017-03-02 02:05] mcritchlow commented on #46
So @remerjohnson & I had a quick Slack convo about this. I think ORCID's are a bit of a special case here compared to other identifier types, and I wonder if they should be bracketed off.

Primarily because ORCID's are not associated with Objects/Works, they are associated with People/Organizations (Agents). So I think the assertion that Ryan made that it's disjoint is correct. Because it seems od

[2017-03-02 15:38] ghost commented on #46
It does seem like we should place ORCID in the Agent record.  Can we create a way to display this in the new UI?  It could display beside the agent name, as a hover, as an "ORCID" button.  It could also be part of a more comprehensive "info" pop-up that displays other things, like a Wikipedia snippet.

If we could add this to the new UI from the beginning, it would solve a couple of problems:
1. C

[2017-03-02 16:12] mcritchlow commented on #46
@GregReser Yeah, I mean I defer to @lsitu, but I think we're talking about indexing and display rules at that point. Similar to how we display components in the object view.

[2017-03-02 17:32] lsitu commented on #46
@GregReser I agree with Matt to talk about the UI issues later at the point with indexing and display rules. But are we going to add the ORCID to the Object or the Agent? If in the agent, which field for ORCID?

[2017-03-02 18:06] ghost commented on #46
I just bring up implementing the ORCID display in the UI sooner rather than later so it's not hidden metadata.  Kind of planting the idea as a priority.

ORCID will go in the Agent authority record as closeMatch.

[2017-03-02 18:10] mcritchlow commented on #46
Is there a predicate/namespace for ORCID we could use instead of closeMatch? If something like that already exists, might be worth using and more explicit? It might also make targeting ORCID vs other properties in the Agent class a bit easier for specific display/indexing rules. But @lsitu would know better if that's an actual concern or not.

[2017-03-02 18:17] ghost commented on #46
@mcritchlow funny you say that, we were just talking about using exactMatch when we are very confident.

For targeting ORCID vs other properties in the display, can we use the base URL, e.g., http://orcid.org ?

[2017-03-02 18:22] lsitu commented on #46
@mcritchlow Yes, I am concerning about it either. I think it'll be nice if the ORCID can have its own predicate so that we can grab it for special handling.

[2017-03-02 18:33] remerjohnson commented on #46
@lsitu @mcritchlow the makers a fabio have an ontology called "scoro": http://www.sparontologies.net/ontologies/scoro

One of the predicates is `scoro:hasORCID`

We could put our property within Agent as `hasORCID` or `identifier:orcid` and point to that predicate?

[2017-03-02 18:35] ghost commented on #46
@lsitu I have some details in the new template to work out, but a draft version for discussion is available at:
https://docs.google.com/a/ucsd.edu/spreadsheets/d/1EhMWaDFsBZDhp-BU-5LtOI0tECDx2EtAZ28iZk-Ih58/edit?usp=sharing

Cells in yellow are to be determined, so you can ignore them for now.
The header list is vertical so I can show you the definitions and sample values.  The final result will b

[2017-03-02 18:39] ghost commented on #48
@lsitu We have added several new columns to the template.  I have created a draft for our discussions at:
https://docs.google.com/a/ucsd.edu/spreadsheets/d/1EVfMBmWfamqEXZWE9mgWMZPGT_7zN8wGtYArZisJUXA/edit?usp=sharing

Since we are still discussing some issues, like ORCID, there may be more changes coming.  :)

[2017-03-02 18:51] remerjohnson opened #58 "Finalize "Related resource" property in import template and ontology"
### Descriptive summary

We need to finalize an approach for "related resource", stemming from csv import template #46

Focusing on "Related Resource":
  1. How it will be modeled going from D4 -> D5
  2. How to represent it in the ontology (currently range is `xsd:anyURI`). Do we need a new class with properties?
  3. How to represent it / encode it in the D5 object import template.

Deliver:
  *

[2017-03-02 19:42] remerjohnson commented on #58
A little background: DOMM yesterday wanted to maintain the current "Related resource" use where we input the label and a URL, like `Calit2 @ http://www.calit2.net` One concern was these are mostly unstable links we point to.

But, we were also concerned since the current range for our related resource properties are just `xsd:anyURI`. We didn't know if this meant we would need to turn this into a

[2017-03-02 19:44] lsitu commented on #46
@GregReser The ingest template looks nice. Thank you very much.

- For CVs controls, is it possible to use exact CV without conversions or not?
- For key/value inside {}, Is there a generic way to identify all the key/values pairs or not? For example, a comma, a while space etc. I see you mention the "Formatted key-value rules" and it could be any keys, right?
- For linking of the range ucsd:Agent

[2017-03-02 21:09] ghost commented on #46
@lsitu
- CVs can only use the short label not the conversion
- For key/value inside {} - at this time, the only valid keys are the ones listed in "Formatted key-value rules".  key/values pairs are separated by white space.  Would it work to consider the white space+key as a reliable separator?  Thinking ahead, if we have a white space in a value, will the parsing still work?
- For linking of the r

[2017-03-02 22:06] lsitu commented on #46
@GregReser :
- CVs can only use the short label not the conversion
*I mean values in CVs for validation should be matched what are allowed to be used in the Excel spreadsheet for ingest. Another way that we can do is to retrieve the CVs from the local authority repository. But we may need to define those CVS in label/url pairs and use either the label or the url in the Excel spreadsheet. What do y

[2017-03-02 22:46] mcritchlow opened #59 "Port Suppress Discovery feature"
### Descriptive summary

DAMS4 has a suppressDiscovery 'state' that is used for objects such as OpenTopography. We need this feature to exist in DAMS5/Horton as well.

If there is a newer/better means to accomplish this feature, let's discuss and implement that.

### Rationale

In addition to OpenTopo, we are very likely to have additional research data use cases for this soon, after speaking rece

[2017-03-02 22:54] lsitu commented on #46
@GregReser @remerjohnson For key/value inside {} , maybe we can just define a separator char, something like comma, semicolon etc. that are used less often. If we need to use it in side a "description" text, we can escape the char with \ just like what we are currently doing with pie ( | ). Once we can determine the key/value in pairs, then we can just split them for the key and value. What do you

[2017-03-02 23:18] ghost commented on #46
@lsitu
- CVs
For simplicity and readability, only the label should be valid in the Excel spreadsheet.  You have a method now that says the spreadsheet label for language "eng - English" is valid.  On ingest the value "eng" is used in the object build.  This is the same idea.
- For key/value inside {} - maybe space+key is not the right way to talk about it.  Basically, we have a quasi JSON structur

[2017-03-03 00:18] lsitu commented on #46
@GregReser Just a couple of little questions regarding the two issues above:
For CVs, maybe we just need the instructions to build the values for each field and ingest it into the Fedora. For example, with "eng", how would you like the uri to be?

For key/value inside {} , don't you expect our program to report any wrong keys? I think we can just make it work anyway. But with the simple key/value

[2017-03-03 15:53] ghost commented on #46
@lsitu if we need a reliable separator that could be used for future cases, then I want to use " | ".  Whitespace is too generic and common in values.  I know we use " | " to indicate multiple values in other cells, but I think the use inside {} is similar: we are separating multiple key:value pairs.

We could use another delimiter, e.g., "; " within {}, but anything we think of might be contained

[2017-03-03 16:09] ghost commented on #46
@lsitu For CV values build values
- I have added the full URIs for language.
- copyright jurisdiction uses a literal string and will be a two character code as shown.

Are there any others that need clarification?

[2017-03-03 16:31] ghost commented on #46
@lsitu For linking of the range ucsd:Agent - lookup label and alternateLabel

Your questions are very good and difficult to answer.  Here's my first thoughts:
- What is a duplicate record?
  - By running the new authority import with pre-ingest validation (issue 48) we should be able to resolve duplicate records.  Duplicates might still slip through though.
  - For the Object ingest Agent matching

[2017-03-03 17:19] lsitu commented on #46
@GregReser Thanks for clarifying all these.
For linking of the range ucsd:Agent - lookup label and alternateLabel
*****If we lookup records with label and alternateLabel, then we need both the label and alternateLabel in the spreadsheet, and we'll allow different combination of label and alternateLabel of ucsd:Agent records to be created. This means, the label won't be unique, which will be confli

[2017-03-03 17:36] lsitu commented on #46
@GregReser For key/value pairs in {}, I think we cannot use pie ( | ) as the separator since we've used it to delimit multiple values, unless we can clarify either key/value pairs or multiple values will be allow in a cell, but not both.
It seems like "; " is a better fit than the space. If anyone don't like it, let's move forward with the origin plan and we'll make it work for now then. Thanks.

[2017-03-03 18:48] ghost commented on #46
@lsitu For key/value pairs in {}, you may be right, but if we use "; " as a separator within {} won't that cause a problem when we have "; " as part of a string in other cells?  In other words, we would treat "; " as a separator only some times.

[2017-03-03 19:07] lsitu commented on #46
@GregReser No, the separator for key/value pairs in {} only affects the values inside the {}. It'll be safe to use it anywhere else in the spreadsheet. For example, if we choose to use ";" as the key/value pairs separator, we can still use it intact outside of the {} without escaping in the current cell or any other cells.

[2017-03-03 19:22] lsitu commented on #46
For example, if we choose "," as separator, the following cell values are valid:
Jan. 1st, 1925
Jan. 1st, 1925@{begin:1925-01-01, end:1925-08-03}
Jan. 1st, 1925@{begin:1925-01-01, end:1925-08-03} | Jan. 1st, 1925

[2017-03-03 19:24] ghost commented on #46
@lsitu I assume you are thinking that a multi property cell could contain more than one value?  You want to be able to split the multiples first then parse the key:values inside {}
Example date:issued
April 8, 1908 @{begin:1908; end:1908} | June 30, 1935 @{begin:1935; end:1935}

OK, let's use "; "  Since we are changing this, how about using key=value for readability?  :  and ; look very similar.

[2017-03-03 19:40] ghost commented on #46
@lsitu I missed your example above showing " | " when I was writing my comment.
I had not planned on allowing multiple values in a {} cell, which is why I didn't see a problem.  I guess we should allow multiple values, since that is our general rule.  So yes, let's use "; " inside {}

[2017-03-03 19:55] lsitu commented on #46
@GregReser Since we are not following the JSON format for key/value pairs in {}, it sounds good to use ";" as key/value pairs separator and and use "=" as key/value delimiter. I think your example looks good:
April 8, 1908 @{begin=1908; end=1908}

[2017-03-03 21:15] ghost commented on #46
@lsitu Great, I'll update the template.

[2017-03-03 21:44] ghost commented on #46
@lsitu Matching records by string - Right, we don't want duplicate ARKs for the same Agent, Place, or Concept.  It seems that we want to lookup all labels and alternateLabels to make sure there is not a match or *possible match*.  If we only search labels, we might miss a match.  The possible matches will require that a person makes the final decision.

In the ingest spreadsheet, I don't think we

[2017-03-03 22:28] lsitu commented on #46
@GregReser Maybe we can do something with non-work records pre-validation in [Support batch ingest of non-Work records](https://github.com/ucsdlib/horton/issues/48) to identify all the records with the same label?
Once an authority record with a label and an alternateLabel is identified to be used, then we have to include both the label and alternateLabel in the ingest spreadsheet. If we only incl

[2017-03-03 22:48] ghost commented on #46
@lsitu Perhaps handle all the records with the same label or alternateLabel in the non-work  (authority)  records pre-validation and only match label in the object ingest.  This puts the burden on us to do the proper pre-ingest validation and conflict resolution, but it makes the final ingest easier.  Adding alternateLabels to the final ingest spreadsheet would be messy, so it would be better to a

[2017-03-03 23:09] lsitu commented on #46
@GregReser Yes, I agree. So in the final ingest, only the label will be used in the spread sheet we will lookup and use any authority record that matched the label in the spreadsheet. I think we can extend it to use the @{} syntax to include the known alternateLabel later when it's necessary. Does it sounds good?

[2017-03-03 23:11] ghost commented on #46
@lsitu Sounds good!

[2017-03-09 17:10] #52 closed, assigned to hweng

[2017-03-13 15:18] mcritchlow opened #61 "Create Chinese internationalization locale for Hyrax"
### Descriptive summary

Please create a Chinese locale file to live alongside the Spanish and English instances in the Hyrax repository [1].

The deliverable from this ticket should be a chinese locale that is submitted via a Pull Request to the Hyrax repository. Please reference this ticket in the PR when it is created, so it's tracked appropriately.

1. https://github.com/projecthydra-labs/hyra

[2017-03-13 21:47] mcritchlow opened #62 "Implement Identifier support"
### Descriptive summary

Following a meeting with @ucsdlib/domm there was agreement to model identifiers as individual predicates, as opposed to the custom URN syntax we had previously documented.

@GregReser will be identifying and documenting the predicates to use as a starting point

@lsitu will implement these predicates and related support for ensuring the distinction between public/private i

[2017-03-13 22:21] lsitu commented on #62
@GregReser Please let me know if it's ready for me to implement it. Thanks.

[2017-03-13 22:44] mcritchlow opened #63 "Set GA start date accurately"
### Descriptive summary

The work in #44 created the initial setup for using the Google Analytics functionality built into Hyrax.

There was some concern or question about the utility of the start date that is set in the configuration file. This ticket is to ensure we circle back to that and make an informed decision.

### Related work

#44 ; PR #51

[2017-03-13 22:45] #44 closed, assigned to VivianChu

[2017-03-14 19:23] ghost commented on #62
@lsitu This is ready to implement.  I have updated the new template with the identifier predicates and public/private UI view status (rows 97 to 118)
https://docs.google.com/spreadsheets/d/1EhMWaDFsBZDhp-BU-5LtOI0tECDx2EtAZ28iZk-Ih58/edit#gid=559462679

Note that I introduced a new namespace: locid = http://id.loc.gov/vocabulary/identifiers

[2017-03-14 19:51] remerjohnson commented on #62
Whoops, just commented on this in Slack but @mcritchlow per our discussions on ORCIDs, since this will be a property within Agents, I put that there and crossed it out above in the spreadsheet. Just a heads up.

We'll use that same new namespace, though

[2017-03-14 19:57] lsitu commented on #62
Thanks @GregReser. Just some questions regarding the implementation:
Is identifier a class or just Literal value?
Are we going to encode the public/private property into the identifier?
For properties naming convention, Ruby doesn't favor hyphenated names/symbols, could we use camel case/underscore instead of hyphenated names?

[2017-03-14 21:07] ghost commented on #62
@lsitu
identifier is a literal
We do not have a way to encode public/private in the identifier.  The thought was to include these in the UI display logic.  Is that possible?
Yes, let's use an underscore. e.g., ucsd:id_accession.  I'll update the spreadsheet.  I also added these to the dams4.2 data dictionary Google spreadsheet.

[2017-03-14 21:15] ghost commented on #62
@lsitu On second thought, let's use camel case instead.  ucsd:idAccession

[2017-03-14 21:17] lsitu commented on #62
Thanks @GregReser. Yes, I think we only can hardcode those private identifiers for UI display if the identifier doesn't contain any public/private infomation.

[2017-03-14 21:20] ghost commented on #62
@lsitu I updated the template with camel case.  I also removed identifier:orcid because it will now be in the Agent class.

[2017-03-15 16:51] lsitu commented on #62
@GregReser It looks like that the labels for locus and news release are conflicting with the labels use for Related Resource, and the filename is conflicting with a symbol use in files by hyrax too. Do you have any suggestions on renaming the labels for locus, news release, filename?

[2017-03-15 17:24] ghost commented on #62
@lsitu You're right about the conflicts.

I have updated these identifiers:
identifier:basket number
identifier:locus number
identifier:oclc number
identifier:registration number
identifier:roger record

For identifier:filename, do you mean that filename conflicts?  How about identifier:file name?

[2017-03-15 17:25] mcritchlow opened #64 "Upgrade to latest Hyrax"
### Descriptive summary

Many commits have been introduced in Hyrax over the last few weeks.

Please:

- update our application to point to the latest.
- Confirm all tests still pass
- If any errors arise that seem to be upstream issues with Hyrax, please reach out and create issues in the Hyrax repository as needed.

### Rationale

In order to not fall significantly behind on the pace of change w

[2017-03-15 17:25] lsitu commented on #62
Yes, it sounds good. Thanks @GregReser.

[2017-03-15 18:01] lsitu commented on #62
@GregReser Do you have any thoughts on news release? I notice that you may have misplaced the Property name to the "Predicate" column for the identifiers in the [data dictionary](https://docs.google.com/spreadsheets/d/1OjTm1Kuzo-An-THdpUkjwa5puul-b4Lx3SK0lB6rvl8/edit#gid=616154196). Are we going prefix "identifier:" for the property name? Ruby doesn't favor the ':' for property name either.

[2017-03-15 18:06] mcritchlow commented on #62
Another naming pattern to consider, just to throw it out there, is something like the following using an `_id` suffix.

So:
[code]

[2017-03-15 18:08] ghost commented on #62
to differentiate from related resource, right?  Should we do this then?

basket_id
basket_related

[2017-03-15 18:23] lsitu commented on #62
The naming pattern looks good to me. The property name/label will be displayed on the edit form and the object viewer with the underscore replaced by whitespace. So I think a label/name that would help understand that piece of metadata will be good.

[2017-03-15 18:30] ghost commented on #62
Let's use _id for identifier names.  Should the predicate use the same format for consistency and ease of understanding?
ucsd:basket_id

For related resource - let's wait until I get feedback for Arwen and Ryan.  We still have to figure out the relatedResource range anyway.

[2017-03-15 18:33] ghost commented on #62
If the property name/label will be displayed on the edit form and the object viewer, we probably shouldn't use names like "createdDate", right?  This would display as "CreatedDate" in the form?

[2017-03-15 18:54] lsitu commented on #62
I think if we need our own ucsd namespace predicate, then it's good to make it inline with the property name (the CamelCase version? it looks like CamelCase is used for predicates normally). But we can use any predicates from any namespaces that you think a match. For a  CamelCase property name like "createdDate", I just change it to "created_date" so it would show up as "Created date". And yes, t

[2017-03-15 19:05] ghost commented on #62
I want to make sure we are talking about the same things - property name (column P in dams4.2 data dictionary) Predicate (column R).  I'm guessing that property name (column P) is irrelevant to the labels displayed in the edit form and the object viewer.

The edit form and the object viewer will by default display the predicate unless you override that with a custom label, such as "created_date".

[2017-03-15 19:39] lsitu commented on #62
@GregReser
I want to make sure we are talking about the same things - property name (column P in dams4.2 data dictionary) Predicate (column R). I'm guessing that property name (column P) is irrelevant to the labels displayed in the edit form and the object viewer.
** Yes, we are talking about the property name (column P in dams4.2 data dictionary) Predicate (column R). And the property name (colum

[2017-03-15 20:20] lsitu commented on #62
@GregReser Sorry I just corrected my comment for your first question above. I mean the property name (column P) is relevant to the labels displayed in the edit form and the object viewer.

[2017-03-15 20:29] ghost commented on #62
@lsitu  Thanks for the clarification.  If the label comes from column P, then I should just use spaces for all the names.  We already have many names like this, e.g., "field assistant".

On the other hand, if you have already coded for the names in column P then I don't want to make you change it.

[2017-03-15 20:37] lsitu commented on #62
@GregReser Yes, I've coded for all the names in column P. But we should change those for the identifiers to the label you want since we are working on it at this time. For other names, I think we can do it later as a global update.

[2017-03-15 20:47] ghost commented on #62
@lsitu OK, it's not worth changing the other labels now, let's just deal with identifiers.

For identifier labels, let's use an underscore "accession_id"
We'll do the same for ucsd namespace predicates "ucsd:accession_id"

I have updated dams4.2 data dictionary and object_import_template.xlsx.  Does that look OK to you?

[2017-03-15 20:58] lsitu commented on #62
@GregReser It sound good to me but just not sure whether using underscore for predicates will cause other issues with url access in some cases or not. Maybe CamelCase name for predicates is a better option?

[2017-03-15 21:19] mcritchlow commented on #62
On a somewhat related note, I think we should ensure we're being consistent with our naming convention. So either CamelCase everything, or underscore everything.

FWIW, I think @lsitu is right, CamelCase does seem to be the common naming convention used for RDF classes/predicates.

[2017-03-15 22:07] ghost commented on #62
I misunderstood @mcritchlow earlier note about "_id". I thought that was for the predicates.  Yeah, all our other predicates are camelCase and it would be good to stick with that.

For the identifier predicates, how about "ucsd:basketId"?

For the property names in column P of dams4.2 data dictionary - those don't show up anywhere in the RDF - they are just used to internally to create UI labels,

[2017-03-15 22:16] mcritchlow commented on #62
@GregReser No, that one is on me :) I thought in terms of Ruby property syntax when I said that, since underscores translate well into Ruby method names, etc. But on second thought, @lsitu is totally right that RDF classes/properties overwhelmingly use CamelCase. So yeah `basketId` is probably better than `basket_id`

[2017-03-15 22:19] ghost commented on #62
Cool, I updated the identifier predicates in dams4.2 data dictionary and object_import_template.xlsx

[2017-03-15 22:32] lsitu commented on #62
It looks good, thanks @GregReser and @mcritchlow. Just let you know that I'll still following the original coding convention to separate the camelCase property name with underscore so that it'll display as single words for now. For example, "callNumber_id" will be "call_number_id" and displays as "Call number id" by default.

[2017-03-15 22:53] lsitu commented on #62
@GregReser Just one thought that if we can make the value after : of the "Header label" column in object_import_template.xlsx to inline with the Property (P column) indams4.2 data dictionary, it'll  event be better for automatic mapping of the "Header label" to the object properties. What do you think?

[2017-03-15 23:40] lsitu commented on #62
Also, are there any identifiers that will be used for collections as well?

[2017-03-16 15:18] ghost commented on #62
@lsitu Make the value after : of the "Header label" column in object_import_template.xlsx to inline with the Property (P column) indams4.2 data dictionary - yes, that's a great idea!  It will be easier for documentation and for coding - no more translating between different lists.
For human readability, whitespace is better.  How about for coding, is an underscore necessary for hyrax?  If so, we c

[2017-03-16 15:31] lsitu commented on #62
@GregReser I am fine with whitespace for the property names in both list, and actually I simply translate the whitespace into underscore for implementation that Ruby favor.
I'll add all identifiers support for collections but just added the Identifier:doi to the edit form for now. I think we can adjust it later. Thanks.

[2017-03-16 15:42] ghost commented on #62
@lsitu Great.  Are we changing the property labels and headers now, or later?  Either is fine with me.

Also, you'll see some cells in yellow on object_import_template.xlsx.  These are still being decided.  Be prepared for more agent headers.  We entered a few to get you started, but the full list is going to be very big (actually it's the same list we currently use, with a couple of additions).

[2017-03-16 15:47] lsitu commented on #62
@GregReser I need to implement the support for the identifiers now and create a PR for review today, so it'll be nice if you can update the property names for the identifiers now. Thanks.
But if there are no changes to the dams4.2 data dictionary, then it doesn't matter and we can change it later.

[2017-03-16 16:24] ghost commented on #62
@lsitu Sorry for the endless questions...
Some properties can be hard to understand without the string before ":"  For example, "issue"  is really "date:issue"
How about if we use the exact same values in both "Header label" column in object_import_template.xlsx and Property (P column) indams4.2 data dictionary?  This way it is very clear what the meaning of each property is.
Example:
date:created

[2017-03-16 17:14] lsitu commented on #62
@GregReser Follows your notes I see the ":" in the Property names in in dams4.2 data dictionary now. Was it changed recently? I think it's good to keep both list consistent and as @mcritchlow [noted above](https://github.com/ucsdlib/horton/issues/62#issuecomment-286882863), we had better use the same pattern for all properties names. I see some with white space, some with underscore, and some are

[2017-03-16 17:22] remerjohnson commented on #62
Hmmmm, well if we want the property to be what we want to see in the UI, I would imagine we'd need some work to do in the 4.2 sheet...

[2017-03-16 17:32] lsitu commented on #62
@remerjohnson I just mean displaying the translated property name by default. And yes, we can use the property name we want in dams4.2 data dictionary and adjust the display label later in the UI level.

[2017-03-16 17:39] ghost commented on #62
@lsitu yes, I was changing some names in dams 4.2 data dictionary as a test for readability.
For many properties, the default UI display can ignore the string before ":", but not always.

We have some names with more than one ":"
note:material details:water depth

In the new UI, we will probably do something similar to our current UI, where we list all related property types beneath one label:

Ma

[2017-03-16 18:14] ghost commented on #62
@lsitu I have synchronized the object_import_template headers and dams4.2 data dictionary property names.
I also changed the Title names to be more consistent.
title
title:alternative
title:part name
title:part number
title:subtitle

I'm coloring changes in yellow in object_import_template.

[2017-03-16 18:25] lsitu commented on #62
@GregReser I think we need a way to interpret the Property names in dams4.2 data dictionary for coding/implementation. If the introducing of ":" is just for more readability purpose, can we just say that the right most part of the values in the property column is that we can use for UI display by default? If that works, we'll use that part as property name in our codes, which will show up on the U

[2017-03-16 18:44] ghost commented on #62
@lsitu Yes, as a starting point, the right most part of the values in the property column is that we can use for UI display by default.

"it need to be unique across the data dictionary" - so we can't have cases like this, right?
date:event
identifier:event

[2017-03-16 18:47] lsitu commented on #62
Yes. Maybe we can do "date:date event" and "identifier:event id" in this case?

[2017-03-16 18:55] ghost commented on #62
I see two conflicts, event and news release.

Let's change these:
identifier:event number
identifier:news release number

[2017-03-16 20:16] lsitu commented on #62
Thanks @GregReser. I've created [PR#65](https://github.com/ucsdlib/horton/issues/65) to implement the identifier support. I think we can circle back with the implementation of the naming changes for other properties later when necessary.

[2017-03-16 21:42] ghost commented on #62
@lsitu Excellent, thanks for working through the issues here.

[2017-03-17 18:21] mcritchlow opened #66 "Finalize ucsd:Agent implementation"
### Descriptive summary

A decision was made with @ucsdlib/domm to implement a single [ucsd:Agent class](https://docs.google.com/spreadsheets/d/1OjTm1Kuzo-An-THdpUkjwa5puul-b4Lx3SK0lB6rvl8/edit#gid=616154196&range=E200) that subclasses edm:Agent

Please update our existing Agent implementation to reflect this new modeling for ucsd:Agent.

### Rationale

A decision was made for a single subclass of

[2017-03-17 19:01] mcritchlow opened #67 "R&D RelatedResource implementation"
### Descriptive summary

After a discussion with @ucsdlib/domm we agreed to do a bit more thinking about the best way to model the relatedResource class and related predicates that will use the class.

After speaking with @lsitu we agreed that it would be best to do some R&D, from a technical standpoint, to help make a decision about the following options:

1. Create individual relatedResource pre

[2017-03-17 20:04] #62 closed, assigned to nobody

[2017-03-17 20:12] hweng commented on #57
@mcritchlow I got latest version of advanced search integrated into hyrax.  It works fine now after fix some issues with hyrax.  And most of advanced search form code from damspas can't be ported into hyrax as its blacklight version is too far behind.

Here are some screenshots:
<img width="1229" alt="screen shot 2017-03-17 at 12 29 24 pm" src="https://cloud.githubusercontent.com/assets/2432753/24

[2017-03-17 20:14] mcritchlow commented on #57
Perfect, thanks for the screenshot as well. This is a perfect starting point for evaluation and further discussion 👍

[2017-03-18 00:04] #57 closed, assigned to hweng

[2017-03-20 21:33] hweng commented on #54
@mcritchlow rails_autolink gem has been added to horton. What page or fields to add auto_link?

[2017-03-20 23:13] mcritchlow commented on #54
Great question. This is most applicable to notes in the object and collection view pages. How granular are we getting in the current damspas application? Do we get down to the individual field level?

[2017-03-20 23:35] hweng commented on #54
In damspas, the auto_link is applied to the following files:

views/catalog/_collection.html.erb
views/shared/fields/_custodial_responsibility_note.html.erb
views/shared/fields/_note.html.erb
views/shared/fields/_preferred_citation_note.html.erb
views/shared/fields/_scope_of_content.erb

[2017-03-20 23:44] mcritchlow commented on #54
Perfect. So I think, for now, mapping to the equivalent of that in horton, following the new data model map and hyrax design patterns.

If we haven't migrated everything yet, perhaps we can cover what we can for now, and then create a separate issue for things we can't yet cover?

[2017-03-21 14:26] mcritchlow commented on #54
A related question, is there any support in Hyrax for this already we can use or take advantage of?

[2017-03-21 14:49] mcritchlow commented on #64
@lsitu I heard that [Hyrax 1.0](https://github.com/projecthydra-labs/hyrax/milestone/6) may be released by the end of this week.

Perhaps it may be best to hold off on this until next week?

[2017-03-21 15:29] lsitu commented on #64
@mcritchlow I'll wait for it to upgrade horton then. Thanks.

[2017-03-21 16:58] hweng commented on #54
Yes, It is already support in Hyrax:
https://github.com/projecthydra-labs/hyrax/blob/master/hyrax.gemspec#L53

[2017-03-21 17:36] mcritchlow commented on #54
Great! So, do we need to explicitly do anything on our end? Or are rendered fields already wrapped with `auto_link`?

[2017-03-21 18:29] hweng commented on #54
@mcritchlow  Here is the screenshot which shows the auto_link has been applied already, looking at the General note and Description fields:
![screen shot 2017-03-21 at 11 26 59 am](https://cloud.githubusercontent.com/assets/2432753/24164041/aa54450a-0e29-11e7-95bc-0f212ddd4e15.png)

[2017-03-21 19:12] mcritchlow commented on #54
Perfect, thanks @hweng. I'll mark this closed then!

[2017-03-21 19:12] #54 closed, assigned to hweng

[2017-03-23 17:02] remerjohnson commented on #50
Still no deliverables yet, but we had the [preservation meeting](https://lisn.ucsd.edu/display/MSCL/2017-03-22+Born-digital+storage+and+preservation) yesterday and got a better sense of the types of born-digital materials they were expecting on having in the near future.

There was a heavy emphasis on disk images, including entire hard drive images, floppy, and images taken from other physical med

[2017-03-23 17:38] remerjohnson opened #69 "Audit Hyrax <-> D5 use of dc terms vs. dc11 properties"
### Descriptive summary

We have noticed in documentation and [Hyrax's basic_metadata code](https://github.com/projecthydra-labs/hyrax/blob/master/app/models/concerns/hyrax/basic_metadata.rb) some differences between Hyrax and D5 in the properties/namespaces for Dublin Core (`dc` vs. `dc11`).

Note: to avoid confusion, since the syntax of the code is based on [rdf.rb](https://github.com/ruby-rdf/r

[2017-03-23 21:15] mcritchlow opened #70 "Confirm breadcrumbs support"
### Descriptive summary

It appears that Hyrax bundles in some support for breadcrumbs via [`render_breadcrumbs`](https://github.com/projecthydra-labs/hyrax/search?utf8=%E2%9C%93&q=render_breadcrumbs&type=)

[A more complete listing of breadcrumbs in Hyrax](https://github.com/projecthydra-labs/hyrax/search?utf8=%E2%9C%93&q=Breadcrumbs&type=)

Please:

1. Look into what this feature provides native

[2017-03-27 17:10] lsitu commented on #58
@GregReser What predicate would you like to use as the global relatedResource property if we embed the type property in the RelatedResource class? And what predicate should we use for the type in RelatedResource?

[2017-03-27 19:09] ghost commented on #58
@remerjohnson what do you think - go with the separate related resource predicates on rows 119 - 127 of dams4.2 data dictionary or a RelatedResource class?

[2017-03-27 20:05] remerjohnson commented on #58
@GregReser @lsitu Longshou, we recently have made all Related Resource types into their own predicates (see the 4.2 mapping), with a range of "Schema:Intangible".

This was speculative. I would appreciate your input to whether this works from a data migration, and also a modeling standpoint. Also of course would like to know @mcritchlow thoughts.

[2017-03-27 21:59] lsitu commented on #58
@remerjohnson How would you like the Schema:Intangible to be created/managed, just like ucsd:Agent, Concept, etc that need to be created independently before ingest, or something that need to be created dynamically in the ingest form/Excel spreadsheet through blank nodes support?
It looks like there are more than 10 fields defined in the [Schema:Intangible](https://schema.org/Intangible) class. Ho

[2017-03-27 22:05] hweng commented on #53
@mcritchlow  I figured out the problem that RSpec/FactoryGirl leaves record in test database after each test case is completed, which is messing up other tests: The "config.use_transactional_fixtures" should turn to "true"
https://github.com/ucsdlib/horton/blob/develop/spec/spec_helper.rb#L47

It works fine now after update the above line.

[2017-03-27 23:43] remerjohnson commented on #58
@lsitu These would have to be recorded much like they currently are, in the ingest form. We can devise a scheme for how to do that, but no, these would not have to go in like Agents and Concepts before ingest. Since we cannot ensure the persistence of these links, we do not want to treat them like those kinds of entities.

Currently if you scroll down to the very bottom of the 4.2 dictionary [line

[2017-03-27 23:54] lsitu commented on #58
Got it, thanks @remerjohnson.
So you just want to use the class name as Schema:Intangible for all related resource? And each related resource type has its own predicates, like ucsd:depiction, ucsd:exhibit, ucsd:findingAid etc?

[2017-03-28 00:06] remerjohnson commented on #58
@lsitu correct... I think we might have to page @mcritchlow to get thoughts. I could maybe see this looking simpler on paper than in the RDF for an object...

[2017-03-28 00:21] lsitu commented on #58
@mcritchlow I think we could get it work through blank nodes support by either using a type property within the class (like what we did for ucsd:Agent) or have different predicates for each related resource as @remerjohnson proposed above. What do your think?

[2017-03-28 17:28] mcritchlow commented on #58
It seems like a very subjective decision to make.. I spoke a bit on Slack with @remerjohnson and @lsitu trying to weigh the pros and cons. Given all that, I think using predicates for the related resources types will make our lives slightly easier in a couple areas of use. This is assuming we won't be consistently adding new types over time, or I would definitely recommend we go the other way.

I

[2017-03-28 18:31] ghost commented on #58
I have no problem using predicates for the related resources types if they will make things easier.
On a "related" topic... for related resource:related, since range will now be a class, I think we should use dc: (dcterms) instead of dc11:, which is intended for a string value.

[2017-03-28 20:27] remerjohnson commented on #58
@mcritchlow Is it possible for us to actually use `dc:relation` now for `related resource: related`? I feel like us having a range of `Schema:Intangible` might rule that out...

[2017-03-29 15:35] lsitu commented on #58
@remerjohnson I try to use the property name relation but getting invalid name violation. It look like it's used by the Hydra app but using related works. Do you need to change the property name to 'relation' or not?

[2017-03-29 15:50] ghost commented on #58
on https://github.com/projecthydra-labs/hyrax/blob/master/app/models/concerns/hyrax/basic_metadata.rb
I see they are using property :keyword, predicate: ::RDF::Vocab::DC11.relation

So keyword is relation?  Strange

[2017-03-29 15:58] lsitu commented on #58
@GregReser I think the keyword `relation` could be used somewhere else, like ActiveTriple. But we can change the predicate from dc11 to `dc:relation` now.  And I think we can change the label later in the UI level if you want. Does it sound good?

[2017-03-29 16:31] #66 closed, assigned to lsitu

[2017-03-29 16:31] lsitu commented on #58
@GregReser @remerjohnson I try it again and don't see that error now. So I think we can use it. So are you going to change the column name to `related resource: relation`  instead of `related resource: related`?

[2017-03-29 17:20] ghost commented on #58
I think related resource: related conveys the meaning better.  We  have other column names that don't match the predicate, so it's not a strict rule we are following.

[2017-03-29 19:50] mcritchlow opened #75 "Upgrade Nokogiri"
### Descriptive summary

Address security vulnerability:

https://gemnasium.com/github.com/ucsdlib/horton

[2017-03-29 21:55] lsitu commented on #75
Hi Matt,
It looks like we have no risk for Horton at this time yet. Could I work on it later after I wrap up my works at hand so that it won't mess it up?

[2017-03-29 21:58] mcritchlow commented on #75
@lsitu Yes, definitely. You're correct it's not a big deal for horton since it's not actually deployed anywhere.

[2017-03-29 22:05] lsitu commented on #75
I've done it for damspas. But we have to wait for the slow ci/circleci build, which could take more than two hours.

[2017-03-30 21:05] lsitu commented on #58
@GregReser @remerjohnson I think we've implemented the nested resource with blank nodes support. Now we are able to create related resource dynamically on ingest time or through the edit form. Attached is the screenshot of the edit form:
<img width="1353" alt="screen shot 2017-03-30 at 1 15 11 pm" src="https://cloud.githubusercontent.com/assets/2430784/24525468/3e66c052-154f-11e7-9572-4805ebf3ffd3

[2017-03-30 22:57] remerjohnson commented on #58
@lsitu Is there a way we can have _one_ Related Resource box (keeping the option to "Add another"), and that would have a dropdown box that would drive the different predicates we have?

The dropdown could default to the normal 'Related'. Or is this not possible?

[2017-03-30 23:02] lsitu commented on #58
@remerjohnson Then I think we had better remodel/extend the Intangible class to include a type property. Otherwise it could be painful for the implementation.

[2017-03-30 23:50] remerjohnson commented on #58
@GregReser `schema:Intangible` has an `additionalType` [property](https://schema.org/Intangible) that expects a URL. It'd be a bit strange because we'd have to just have the one (dc terms) `dc:relation`, then specify the types via URLs within `Intangible`...

[code]

What do you think?

[2017-04-03 14:36] mcritchlow commented on #61
@hweng - is this ready to go in a Sprint yet?

Could you also write a brief summary about your meeting with Shi Deng, and list out any next steps you both agreed to? Thanks.

[2017-04-03 15:04] ghost commented on #58
@remerjohnson It's not a bad idea.  What's the motivation to move from separate related resource predicates - implementation in the edit form (repeatable related resource with type dropdown?

[2017-04-03 16:46] hweng commented on #61
@mcritchlow Yes, it can go in this sprint.

[2017-04-03 16:50] remerjohnson commented on #58
@GregReser Right, @lsitu was saying our current multiple predicates would bog down the edit form.

I would be fine with moving Levy-related resource types to just notes as @mcritchlow suggests, but I believe @arwenhutt wanted to preserve current functionality.

[2017-04-03 16:51] mcritchlow commented on #61
@hweng - great, thanks!

[2017-04-03 17:37] ghost commented on #58
How are creators handled in the edit form?  I can't imagine having every creator predicate as a separate, always visible field.  Can a dropdown be used to select the predicate?  If so, can this be done for related resource?

[2017-04-03 17:39] mcritchlow commented on #46
@GregReser @lsitu - I know we've shifted focus to other things lately, but I wanted to circle back to this effort and see if it would be possible to articulate what remaining gaps we have for this ticket, whether that work can be broken down into individual tickets, etc. Curious what you both think, thanks.

[2017-04-03 17:42] remerjohnson commented on #58
@GregReser I don't know. This is what I [proposed earlier](https://github.com/ucsdlib/horton/issues/58#issuecomment-290568498), but was told it'd be easier to extend it with types.

[2017-04-03 17:49] lsitu commented on #58
@GregReser @remerjohnson I think the handling of creators/MARC Relators in the UI should be a different issue that we can talk about later, in which we create the ucsd:Agent in advance that we can choose from in the form, which is different from the blank nodes support we have here for the related resources.

[2017-04-03 19:02] ghost commented on #46
@mcritchlow I think these are the remaining gaps:
- resolve relatedResource predicate(s) and Class #58
- resolve rights properties
  - do we need copyright status or can it be inferred from rights URI?
- resolve Matt's question about identifier:roger record (should it be more generic, e.g., "identifier:catalog_record"
- add remaining agent predicates (it's a long list and I was waiting because it

[2017-04-03 19:33] lsitu commented on #69
@remerjohnson Attached is the Excel file with the difference in red for the terms and predicates used in [Hyrax basic metadata](https://github.com/projecthydra-labs/hyrax/blob/master/app/models/concerns/hyrax/basic_metadata.rb) and D5. It seems like some mapping are not clear enough (see my comments in the Notes):
[hyrax-d5_predicates.xlsx](https://github.com/ucsdlib/horton/files/891167/hyrax-d5_p

[2017-04-03 19:38] lsitu commented on #46
@GregReser It looks like there could be more issues. See my comments in the attached Excel spreadsheet in https://github.com/ucsdlib/horton/issues/69#issuecomment-291249356.
And also, we may need instructions for assembling the title column fields into a big title string, right?

[2017-04-03 19:54] ghost commented on #46
@lsitu good question about title.  Are you thinking of how we currently assemble title, part name, part number, subtitle in mads:authoritativeLabel?  I don't think we are doing this in D5.

[2017-04-03 20:01] lsitu commented on #46
Yes. When I first see those bunch of title fields. Then I think it'll be just the UI displaying issue that we need to talk about later. Thanks.

[2017-04-03 20:03] ghost commented on #46
You're right, it will be a messy display issue :)

[2017-04-03 23:43] #53 closed, assigned to hweng

[2017-04-05 17:20] mcritchlow opened #81 "Batch Import Support Update"
### Descriptive summary

This ticket primarily addressed a number of issues outlined by @GregReser in his [comment](https://github.com/ucsdlib/horton/issues/46#issuecomment-291241448) via #46

Summarized again here:

- Initial support for complex objects
- resolve relatedResource predicate(s) and Class #58
- resolve rights properties
        do we need copyright status or can it be inferred from r

[2017-04-05 17:35] #75 closed, assigned to lsitu

[2017-04-05 18:28] remerjohnson commented on #69
@lsitu I put your sheet as a new sheet in the 4.2 data dictionary to discuss with DOMM.

@GregReser then took the alignment and updated the properties in the main sheets and template. The changed properties are highlighted in yellow in the Google Sheet.

Two outstanding issues:
* Since Hyrax is reserving `dc:created` for system dates of object creation, we can either "collapse" our idea of resourc

[2017-04-05 18:44] mcritchlow commented on #64
@lsitu - I spoke with Mike, and it sounds like we may be better off sticking with `master` for now re: hyrax. The 1.0 branch isn't really getting a lot of work done on it at the moment, and we won't get any new features there, perhaps just the occasional bug fixes So I think we'll need to stick with `master` for a little while longer.

[2017-04-05 19:19] lsitu commented on #64
@mcritchlow Okay. I'll upgrade it once PR https://github.com/ucsdlib/horton/pull/76 get resolve, and I will balance my local work for batch ingest support for complex objects along with the Excel import template support to see whether we should hold off the upgrade to avoid the conflicts. Does it work with your plan? If not, I can do it now and fix the conflicts later.

[2017-04-05 19:33] lsitu commented on #69
@remerjohnson For dc:created, I think we can still use predicate dc:created but just use another property name, such as [created_date](https://github.com/ucsdlib/horton/blob/develop/app/schemas/local_authority_schema.rb#L39) as currently used in horton. This could avoid the conflicting of the time valve that Hyrax used by default for system dates and the TimeSpan class that we are using.

[2017-04-05 20:37] mcritchlow commented on #64
@lsitu - sounds good to me.

[2017-04-05 23:04] ghost commented on #81
@lsitu We are thinking of adding a column to the ingest template for file path.
Why?
1. Source files can have duplicate filenames in sub-directories which can result in the wrong file being linked to an object.
2. File directory structures can be very large and complex with many non-ingested files.  Specifying the path might speed up file match - maybe?

However, it is convenient to specify the pa

[2017-04-05 23:05] lsitu commented on #46
@GregReser It looks like we can't use property name "visibility" (row #134), which is hold as keyword in Hyrax. The following error is thrown from Hyrax:
ArgumentError: visibility is a keyword and not an acceptable property name.
  /Users/lsitu/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/active-fedora-11.0.0.rc7/lib/active_fedora/attributes.rb:127:in `define_active_triple_accessor'
  /Users/lsi

[2017-04-05 23:28] lsitu commented on #81
@GregReser Horton/Hyrax will allow us to select the specific files/directories from the remote server  for ingest and/or upload files from local disk as well. So the duplicate filenames issue could be avoided at ingest. And I think we may want to keep this feature in the UI for batch ingest.
However, I think we can also add a column for the file path in the spreadsheet. In this case, we consider t

[2017-04-06 16:13] ghost commented on #46
@remerjohnson @arwenhutt Should we change visibility and visibility expiration to:
rights override
rights override expiration

[2017-04-06 16:26] ghost commented on #81
@lsitu Yes, I think we are are the same track.  Here's another way to say what I mean:

The UI batch ingest would allow you to specify the directory for files in a batch.
The spreadsheet would have two columns: file path and file name.  We want them separate for human readability.
For each row in the spreadsheet,
- if file path column is blank, the path in the UI is used
- if file path column has

[2017-04-06 16:39] lsitu commented on #81
@GregReser It sounds good. Do we still need the file path for the second file for "file 2 name"?
How about discuss and implement the validation function later in another ticket so that we can move this ticket forward?

[2017-04-06 16:42] ghost commented on #81
@lsitu I think file 2 name should always use the same path as File 1 name.  Yes, we can work out the validation later.

Unless anyone else sees a problem, I will add a file path column to the D5 template.

[2017-04-07 20:58] hweng commented on #70
@mcritchlow
The hyrax project use gem breadcrumbs_on_rails,
https://github.com/projecthydra-labs/hyrax/blob/1e504c200fd9c39120f514ac33cd42cd843de9fa/app/builders/hyrax/bootstrap_breadcrumbs_builder.rb

which in your controller, call add_breadcrumb to push a new element on the breadcrumb stack. add_breadcrumb requires two arguments: the name of the breadcrumb and the target path.
There is a class b

[2017-04-07 21:00] hweng commented on #70
After log in, the object and collection view breadcrumbs:
![my_work](https://cloud.githubusercontent.com/assets/2432753/24819668/68a52f10-1b9a-11e7-8341-a9dd4980ed6b.png)
![my_collection](https://cloud.githubusercontent.com/assets/2432753/24819670/6c87cf70-1b9a-11e7-9adf-8439712c052b.png)

[2017-04-07 21:02] hweng commented on #70
After log in, the collection and object edit action breadcrumb:
![my_work_edit](https://cloud.githubusercontent.com/assets/2432753/24819754/ca8a5656-1b9a-11e7-86e2-b57803b09649.png)
![my_collection_edit](https://cloud.githubusercontent.com/assets/2432753/24819756/cdadc2dc-1b9a-11e7-9cce-7e4f92310cdb.png)

[2017-04-07 21:03] hweng commented on #70
The public view for collection and object breadcrumb:
![public_view_collection](https://cloud.githubusercontent.com/assets/2432753/24819778/e8e1b7f2-1b9a-11e7-826c-c561a870224a.png)

![public_view_work](https://cloud.githubusercontent.com/assets/2432753/24819783/eac584ae-1b9a-11e7-8e48-502f14a5bdf2.png)

[2017-04-07 21:07] mcritchlow commented on #70
@hweng - thanks for posting these. If a user is not authenticated, will they see any breadcrumbs? Or are these breadcrumbs only shown for authenticated users and specific to their content?

I suspect all we'd want is essentially (at the object level) breadcrumbs that say:

`Animal Collection / Bunny 1`, for example.

[2017-04-07 21:17] hweng commented on #70
@mcritchlow If a user is not authenticated, they can still see the breadcrumb, but the trail is different from the logged in user, see the above public viewer vs. logged in viewer screenshots:
For example:
Logged in: My Dashboard/My Objects/ Bunny
Not logged in:  My Objects/Bunny

For your 2nd question: No, the current hyrax behavior for object breadcrumb is that it doesn't include collection name

[2017-04-07 21:23] mcritchlow commented on #70
@hweng - I see, thanks for clarifying. Based on what you've learned so far, do you think it would be difficult to adjust/override so that, for example, the Object includes a breadcrumb back to the Collection?

And, to clarify, I think everything you've already provided covers the scope of this ticket. Any actual customization can be done in a new ticket, if we decide to go that route.

[2017-04-07 21:33] hweng commented on #70
@mcritchlow I think it is possible to override the hyrax breadcrumbs behavior to link back to the collection, but i'm not sure how difficult it is. I will look into it and figure out if we decide to go that route.

[2017-04-07 21:35] mcritchlow commented on #70
@hweng - Sounds like a plan. I think you can mark this Closed for now then, and we can chat with @gamontoya about when/if we may want to do any modifications via a separate ticket.

[2017-04-07 21:38] #70 closed, assigned to hweng

[2017-04-07 21:44] lsitu commented on #58
@GregReser @remerjohnson We are going to merge the PR above now.
Are we going to keep the current implementation and seeking solution for those related resources specifically for Levy as Ryan's [comment](https://github.com/ucsdlib/horton/issues/58#issuecomment-291202850) above, or remodel the class with a type?

[2017-04-07 22:23] arwenhutt commented on #58
@lsitu @GregReser @remerjohnson I think this conversation might benefit from a phone call/meeting.  I think we are having some trouble disentangling the UI and the modeling, which I think will be easier to clear up with a synchronous conversation.

[2017-04-10 16:07] gamontoya commented on #70
@mcritchlow I think we want to see if the modifications (to pull in the collection) can be done and creating a new ticket sounds perfect.

[2017-04-10 16:29] mcritchlow opened #83 "Implement Breadcrumbs for Collection/Object hierarchy"
### Descriptive summary

 As noted in #70 there is already breadcrumb support built in for Hyrax, however it is targeted more towards "The things that I have ingested" as opposed to the actual hierarchy of the collections and objects themselves.

### Rationale

This is a feature that is desired by the DLDP is to have objects include their parent collection in a breadcrumb interface. If possible, w

[2017-04-10 16:29] mcritchlow commented on #70
@gamontoya sounds great, it's created as #83

[2017-04-10 18:31] ghost commented on #46
@lsitu Let's go with:
rights override
rights override expiration

[2017-04-10 18:46] lsitu commented on #46
Sure and it's done. Thanks Greg.

[2017-04-11 15:48] #81 closed, assigned to lsitu

[2017-04-12 17:59] mcritchlow opened #84 "Implement new Rights metadata model"
### Descriptive summary

While it was designed to simplify rights and access controls, the new rights management strategy and metadata model is significantly different then what we implemented in 4.

Need a full spec including:
- list of properties
- associated application behavior (verified with the library rights policy group)
- controlled value lists or validation rules for each property
- prop

[2017-04-12 20:34] remerjohnson commented on #69
@lsitu We could do that, but then it would raise the question of when would we ever use just `dc11:date`? Is there a way we can assert on the ontology level that all of our date types are `sameAs` `dc11:date`?

[2017-04-12 21:13] lsitu commented on #69
@remerjohnson Good question! Are you going to use dc11:date for all date types?

[2017-04-13 22:04] remerjohnson commented on #69
@lsitu So I asked Mike Giarlo about this `dc:created` situation, and he said that he believes [date_created](https://github.com/projecthydra-labs/hyrax/blob/master/app/models/concerns/hyrax/basic_metadata.rb#L24) _is_ descriptive metadata, and _not_ reserved for Hyrax system uses.

He believes those system dates come from the [core_metadata file](https://github.com/projecthydra-labs/hyrax/blob/mas

[2017-04-13 22:54] lsitu commented on #69
That sounds good and we can use dc:created. Thanks @remerjohnson. However, I do see some unexpected result in the past when I use it and I noticed that property name date_created is referenced every where over hydra/hyrax. For example, https://github.com/projecthydra/hydra-works/blob/master/lib/hydra/works/characterization/schema/base_schema.rb#L7 .

[2017-04-13 23:08] remerjohnson commented on #69
@lsitu True, I've seen that before. I'm assuming that's the PCDM:File class?

I think this is heading into unsettled territory, and hoping the metadata folks in the community can maybe help out here. We could change our property name to avoid conflicts. At least in the example you have, it points to ebucore and not dc. But yes, still sub-optimal.

[2017-04-13 23:30] lsitu commented on #69
@remerjohnson Yes, I think it's used in the PCDM:File, and hyrax expected date_created to be a 'date string', which is conflicting with our TimeSpan as well. For example, https://github.com/projecthydra-labs/hyrax/blob/master/app/helpers/hyrax/citations_behaviors/publication_behavior.rb#L6-L11.

[2017-04-13 23:59] remerjohnson commented on #69
@lsitu I see. Our dates here will be strings, we just wanted the range to be our TimeSpan class, so it would start with a string in the `prefLabel`. Is it that the code just won't parse it?

[2017-04-14 00:39] lsitu commented on #69
@remerjohnson I think when referenced by object, it'll be a TimeSpan. When using the values in solr, then it depends on how we index those values. But both label and the hash/json value should be there.

[2017-04-14 15:12] lsitu commented on #58
@GregReser I found we can't use property name "type" in related resource. It's reserved for rdf:type in hyrax. Could we use "related type" instead?

[2017-04-14 15:42] ghost commented on #58
@remerjohnson how about "relatedType" since we are using "agentType" in the ucsd:Agent class?

[2017-04-14 16:02] lsitu commented on #58
I think we just need to updated the property name for the Related Resource class in the data dictionary. And it's fine if you still want to "type" in the Object Import template like "formatted string = label @{type=CV; uri=value}" for convenience, but we need to add it to the "Formatted key-value rules" tab for validation.

[2017-04-14 16:48] lsitu commented on #58
@GregReser Also, should we change it to use url in the Object Import template instead of uri since it's defined as url (schema:url) in the RelatedReource class?

[2017-04-14 16:57] ghost commented on #58
OK, we'll use "relatedType" in the data dictionary Property Label

In the Object Import template, related resource formatted string = label @{type=CV; url=value}

[2017-04-14 17:19] lsitu commented on #58
It sounds good! Thanks. Could we update the keys in the "Formatted key-value rules" for the type and url as well? We use it for keys validation.

[2017-04-14 17:29] ghost commented on #58
To avoid confusion and make validation easier, should we use the key "relatedType"

label @{relatedType=CV; url=value}

[2017-04-14 17:38] lsitu commented on #58
Let's use relatedType then. And I'll update the codes for it. Thanks.

[2017-04-14 17:39] ghost commented on #58
OK, template updated.

[2017-04-14 17:51] lsitu commented on #58
I've updated my codes to use the latest import template. Thanks @GregReser .

[2017-04-14 19:13] mcritchlow opened #85 "Mockup new Visibility form"
### Descriptive summary

@ucsdlib/domm could use a mockup/screenshot for what the visibility part of the form would look like when the new visibility values and descriptions are added in. This would be purely a web mockup, not an actual implementation, which is slated for #84

The mockup should include the following:

1. Add new visibility options below the defaults: Suppress Discovery, Metadata O

[2017-04-14 20:58] hweng commented on #61
The Hyrax issue has been created: https://github.com/projecthydra-labs/hyrax/issues/793

[2017-04-14 22:12] mcritchlow commented on #84
Noting Longshou's previous work in providing examples of the various Hyrax access control states:

https://github.com/ucsdlib/dams5-cc-pilot/issues/40#issuecomment-261614672

[2017-04-17 17:11] hweng commented on #61
The rubocop format issues and test fails have been fixed. My pull request has been approved and merged into Hyrax master branch: projecthydra-labs/hyrax#794

[2017-04-17 17:11] #61 closed, assigned to hweng

[2017-04-17 17:16] mcritchlow opened #86 "Review statistics gathering options"
### Descriptive summary

In addition to Google Analytics, we have two services that we can potentially use to pull data from for DAMS5.

* Splunk
* Sawmill

Sawmill was purchased because it offered the following:
* Much more granular Wowza streaming statistics than we can get otherwise
* The opportunity to create custom reporting dashboards that users can use themselves to prepare reports

Please

[2017-04-17 17:27] hweng commented on #61
https://github.com/projecthydra-labs/hyrax/pull/794

[2017-04-17 22:28] lsitu commented on #69
@remerjohnson Good news is that Hyrax is trying to separate the basic metadata that could be used/referenced internally with the descriptive metadata from the object/collection models. I see the BasicMetadataIndexer class is extracted that can added to or removed from the object/collection model, which making it a good step toward it.
I think the conflicting issue with the property name like date_

[2017-04-18 17:23] lsitu commented on #85
@ucsdlib/domm What boilerplate helper text would you like for Suppress Discovery, Metadata Only, and Culturally Sensitive in item#2 under "Descriptive summary"?

[2017-04-18 17:42] remerjohnson commented on #69
@lsitu Yes, that's good. It seems both devs and metadata people are moving along, so this a fluid situation.

I now see there is no references to just `dc:date` anywhere for Hyrax. Should we still support it for description at all?

[2017-04-18 18:01] lsitu commented on #69
Yes. we can support it in any way you want. I think we can ignore those basic descriptive metadata defined in Hyrax and build our own data model.

[2017-04-19 16:52] lsitu commented on #85
@ucsdlib/domm I've moved ahead to mockup the visibility form and we can change the  boilerplate helper text later at any time. Here are the screenshots:

- Visibility component
<img width="396" alt="screen shot - visibility options" src="https://cloud.githubusercontent.com/assets/2430784/25191704/536bd4f6-24e5-11e7-9590-dfc34fcd542a.png">

- Batch Import Form
<img width="1437" alt="screen shot - b

[2017-04-19 17:53] arwenhutt commented on #85
@lsitu
This is helpful, thanks!
A rough pass at the description text:
- Suppress Discovery - exclude from searching and discovery but accessible via direct link
- Metadata Only - metadata record is available but files are suppressed
- Culturally Sensitive - files available after click through to indicate that materials may be of a sensitive nature

@ucsdlib/domm @mcritchlow @lsitu Seeing this mock

[2017-04-19 18:38] remerjohnson commented on #85
It's clear the legacy of that form was trying to get users (non-admin) to get their heads around the access states, so in that sense "Open Access" is a more known term implications-wise than "Public." If the end result access state is the same, I don't really see a problem with adopting either terminology.

Honestly the most "right"-sounding option is 3, since as CDL recently noted, keeping data p

[2017-04-19 19:38] lsitu commented on #85
@arwenhutt I'll update the description text when implementing it in https://github.com/ucsdlib/horton/issues/84. Yes, "Open Access" is just the default description text in hyrax and it's equivalent to "Public" access. I think we can change it at any time.

FYI, the workflow will be introduced with the latest Hyrax 2.0.alpha on github master branch that can be used for some special needs. I see it'

[2017-04-19 22:00] lsitu commented on #85
@arwenhutt For the "Private" visibility, we've implemented the group access control and all curators (editor and curator roles) can view those private objects. So I think it's actually the "curator only" state as we need at this time. We may just need to update the description text, which is coming from Hyrax by default.

[2017-04-19 22:10] hweng commented on #55
@mcritchlow, I don't find built-in sitemap feature from Hyrax feature list: https://github.com/projecthydra/sufia/wiki/Feature-matrix
And I don't find such config in hyrax project.

[2017-04-20 00:12] hweng commented on #55
To create the sitemap,
 it may include static pages:
/about
/help
/contact
/catalog/facet/creator_sim?facet.sort=index
/catalog/facet/topic_sim?facet.sort=index
/catalog/facet/resource_type_sim?facet.sort=index

And all
object_resources records,
collection records,
subject records,
agent records,
place records,

Is there anything else besides the above would you like to include?

[2017-04-20 14:37] #67 closed, assigned to lsitu

[2017-04-20 15:19] mcritchlow commented on #55
@hweng off the top, I think that covers it and, if nothing else, would be an excellent starting point. @lsitu or @VivianChu can you think of anything else?

[2017-04-20 15:41] lsitu commented on #55
@mcritchlow Yes, I agree it's a good great starting point. Just not sure whether we need to expose those local authority records (subject, agent, place) in the site map or not.

[2017-04-20 15:58] mcritchlow commented on #55
@lsitu yeah, that's a good point. Authorities we general expose only in the context of object and collection records. Perhaps we could leave them out, for now, but have a conversation with @ucsdlib/domm about whether we want to make them more directly visible?

[2017-04-20 16:41] hweng commented on #55
@mcritchlow @lsitu Thanks for the comments. I agree to leave out the subject, agent, place for now and discuss it with @ucsdlib/domm.

[2017-04-20 21:41] hweng commented on #55
@mcritchlow As we discussed that only public url will be included in the sitemap, which excludes the Open Access, campus and embargoed records url. Please Confirm!

And a question: What is to set the Sitemap.default_host? We haven't deployed it to production yet. But since the ping_search_engines service will not be triggered until the app deploy to production, it can set anything temporarily now.

[2017-04-20 21:45] mcritchlow commented on #55
Sounds good re: public objects and collections 👍

And yeah, I suppose that's a reasonable default for the host in other environments since, as you said, it will only be used in production.

[2017-04-21 20:34] hweng commented on #55
@mcritchlow Attached is the sitemap that generated from my local. Let me know if it looks good to you and I will make a pull request.
[sitemap.xml.gz](https://github.com/ucsdlib/horton/files/948250/sitemap.xml.gz)

[2017-04-21 22:11] mcritchlow commented on #55
Is this just the default export, or starting point, from the gem? As far as overall structure, everything seems to be in place. I think a PR would be a great idea so the team can look at the config settings. Otherwise, as you noted earlier, we'll need an environment with some useful content to really test this out.

[2017-04-21 22:52] hweng commented on #55
@mcritchlow This is not default export from the gem. This is generated from customized configuration for our hyrax project.

[2017-04-21 22:57] hweng commented on #55
And from the testings from my local,  only public record urls are pulling out from solr and added to sitemap when I triggered generation task from my local.

[2017-04-21 23:07] mcritchlow commented on #55
Ok, thanks for clarifying. I think it was a bit hard to tell looking at the file, with the example.com domain in the URL. That said, sounds like it's definitely worth a PR at this point. Thanks for getting this setup!

[2017-04-21 23:53] hweng commented on #55
Yes, the host name is updated to use "http://library.ucsd.edu/hyrax" for now.

[2017-04-25 19:17] #64 closed, assigned to lsitu

[2017-04-26 18:45] #55 closed, assigned to hweng

[2017-04-27 19:02] hweng commented on #83
@mcritchlow Should the collection/object relationship show in the breadcrumb trail when the object request is referred from outside website?  For example, from other website click the link and be directed to our object_resource page.

[2017-04-27 19:42] mcritchlow commented on #83
Great question, we should have clarified that in the Description originally.

We don't want the breadcrumbs to be based on navigation/history, but instead they should be 'static' in the sense that the object page should always have a breadcrumb link back to its collection.

So to your question more directly, yes if someone came in from a Google search and landed on an object, it should show a brea

[2017-04-27 20:38] hweng commented on #83
Ok , We will always keep the Collection/Object hierarchy. For other trails, do we want it to be partial static or complete static? The partial static means display some history, For example, if user logged in it would display the trail "My Dashboard/", otherwise it is not,  and if in edit, it display "edit", and etc.

[2017-04-27 20:42] mcritchlow commented on #83
Yeah, also a good question.

I think those other, existing breadcrumbs we'll probably need someone to evaluate and get us more feedback. That might end up being part of the larger UI/UX evaluation an design phase we'll have later in the project. For now, assuming it doesn't conflict with adding these static Collection/Object breadcrumbs on the show pages, I think we can safely leave the other brea

[2017-04-27 21:05] lsitu commented on #84
@ucsdlib/domm Looking into the Hyrax implementation for visibility with embargo and lease, it uses predicates like acl:hasEmbargo and acl:hasLease to mark those two special states to trigger it for object access and UI display. Could we implement it the similar way for out local visibility like suppress discovery, metadata only, and culturally sensitive?
I think we can either use the existing pcdm

[2017-04-28 16:01] mcritchlow opened #89 "Remove local pages implementation, replace with Hyrax default"
### Decision
per @gamontoya - We should try it out (Hyrax out of the box) at first and revisit.

Tasks:

- [ ] Remove local Pages implementation
- [ ] Create entries in the routes file for our existing static pages: about, faq, takedown, search-tips. Hang off the root, if possible, so the about page will be: `https://<application-path>/dc/about`, for example.

### Descriptive summary

Currently, o

[2017-04-28 16:40] mcritchlow opened #90 "R&D: Ordered Names"
### Descriptive summary

Identify options, if any, for supporting ordered field values in hyrax. Particularly, names.

### Rationale

We need to identify whether there is any support in hyrax for ordering names. We cannot do this in DAMS4, but we have an increasing number of examples in research data collections where name ordering is very important.

### Expected behavior

A record contains links

[2017-04-28 19:40] hweng commented on #83
Get the modified breadcrumb behavior working.  @mcritchlow, please take a look of the following screenshots with different trail, and let me know if it looks good to you:

In public view(non-logged in):
<img width="945" alt="screen shot 2017-04-28 at 9 59 48 am" src="https://cloud.githubusercontent.com/assets/2432753/25544534/c0afe3e6-2c0f-11e7-82ea-7be2e0f78c27.png">

In logged in view:
<img widt

[2017-04-28 19:42] mcritchlow commented on #83
That looks great @hweng, nice!

[2017-04-28 19:45] VivianChu commented on #86
@mcritchlow - There is not really a direct API library for Sawmill.  We could use the Enterprise version to populate an SQL database and then use SQL queries to report things that we are interested in.  Currently our Sawmill uses internal database, we couldn't use SQL queries.  We could use the Custom Action to define our action like retrieving which fields that we are interested.
https://www.sawm

[2017-04-28 19:47] VivianChu commented on #86
![logdetailreport](https://cloud.githubusercontent.com/assets/1864660/25544744/bbf65410-2c10-11e7-9df3-97c047e0dbf9.png)
![sawmilloverviewreport](https://cloud.githubusercontent.com/assets/1864660/25544754/c2452aa8-2c10-11e7-826f-d9bb80169af7.png)
![filetypereport](https://cloud.githubusercontent.com/assets/1864660/25544756/c5a539f4-2c10-11e7-8ab9-592d62693f25.png)
![streamingreport](https://cloud

[2017-04-28 20:07] lsitu commented on #58
We've implemented the related resource with relatedType in ticket https://github.com/ucsdlib/horton/issues/67. So I think we can close the ticket now.

[2017-04-28 20:21] remerjohnson commented on #58
@lsitu Thanks! I'll close now

[2017-04-28 20:21] #58 closed, assigned to mcritchlow, lsitu

[2017-04-28 20:22] lsitu commented on #85
@arwenhutt Is there anything else that you would expect me to do for this ticket? Otherwise I think we can close the ticket and move forward with https://github.com/ucsdlib/horton/issues/84 for implementation. What do you think?

[2017-05-01 15:38] mcritchlow opened #92 "Port Metadata-Only feature"
### Descriptive summary

DAMS4 has a metadata only 'state' that is used for objects that we are allowed to make publicly available, but only the metadata, not any associated files.

If there is a newer/better means to accomplish this feature given the new Hyrax framework, let's discuss and implement that.

### Rationale

This is an existing DAMS access control feature that must be migrated.

### E

[2017-05-01 15:55] lsitu commented on #92
@mcritchlow Hyrax has the visibility_badge that marks an object's state/visibility, which is triggered by the the visibility implemented in https://github.com/ucsdlib/horton/issues/84. And the file download is more or less related to access control too. So it looks like the feature here is a little bit overwrap with ticket https://github.com/ucsdlib/horton/issues/84. But I think we can evaluate wh

[2017-05-01 16:15] lsitu commented on #85
@ucsdlib/domm Here is additional mockup/screenshot for the the object list that a curator can see once the new visibility/rights model implemented:
<img width="1437" alt="screen shot - curator view" src="https://cloud.githubusercontent.com/assets/2430784/25585272/99045700-2e4e-11e7-8ad5-3a6a806554c0.png">

[2017-05-01 21:30] hjsyoo commented on #90
RDCP would also like control over display order in the following fields or values, in order of decreasing priority. The Names issue described above shares highest priority with the first item below:

1. Roles on landing pages.
Example: In https://library.ucsd.edu/dc/collection/bb4473712z, ideal order of Roles is Leads, Director, Contributors, Research Team Members.
2. Objects in results view.
Exam

[2017-05-01 23:24] lsitu commented on #90
@hjsyoo, @ucsdlib/domm Can the roles (Leads, Director, Contributors, Research Team Members etc.) that required ordering in # 1 above be mapped to the terms defined in the [dams5 data model](https://docs.google.com/spreadsheets/d/1OjTm1Kuzo-An-THdpUkjwa5puul-b4Lx3SK0lB6rvl8/edit#gid=616154196) or not?

Here are some terms from the [dams5 data model](https://docs.google.com/spreadsheets/d/1OjTm1Kuzo

[2017-05-02 14:22] mcritchlow opened #93 "Upgrade to latest Hyrax"
### Descriptive summary

Please update Hyrax to the latest version/commit in 2.0-alpha.

### Rationale

Staying up to date with Hyrax development.

[2017-05-02 14:25] mcritchlow opened #94 "Upgrade gem dependencies"
### Descriptive summary

Please bring gem dependencies up to date.

https://gemnasium.com/github.com/ucsdlib/horton

### Rationale

Keep dependencies up to date..

### Related work

#93

[2017-05-02 15:45] hjsyoo commented on #90
@lsitu After conversing with mcritchlow, I think this ticket was meant to serve primarily as a request to investigate whether curators can have some control over ordering in DAMS5. If any of it can be implemented earlier or specifically for the SOCCOM collection, that'd be great.

[2017-05-02 17:05] lsitu commented on #90
@hjsyoo I've posted a question, https://groups.google.com/forum/#!topic/hydra-tech/_7wzCLoeRmg, in the hydra community. Let's see what we can do.

[2017-05-02 22:44] arwenhutt commented on #90
Ordering is definitely a weaknesses of RDF.  Right now imposing order involves adding layers of hierarchy (blank nodes) to the data structure which adds complexity to every bit of code that needs to interact with that data.  That's why we've only done this (locally and as a community) when it's absolutely required - as with ordering of components of a hierarchical object.  I think the functionalit

[2017-05-02 23:21] hjsyoo commented on #90
+1. Will keep fingers crossed that there's enough desire in the community to move in that direction, then!

[2017-05-03 16:05] gamontoya commented on #90
@arwenhutt @mcritchlow Not to convolute but to clarify, should this not have been a feature request to have been vetted by the Products Group?

[2017-05-03 16:07] mcritchlow commented on #90
@gamontoya - yes, i think so. while the scope was about R&D only in this ticket, that would have still probably been the correct route.

[2017-05-03 17:35] mcritchlow commented on #84
@ucsdlib/domm - Is there any additional information that @lsitu can provide to help with this? Do we need another mtg? Just curious what the best way would be to make progress on this.

[2017-05-03 19:00] ghost commented on #84
I need more information before I can add useful comments.  Where is the documentation for how Hyrax is using acl?  I found this, but it doesn't cover embargo or lease: https://anarchivist.gitbooks.io/hyku-models/models/permissions.html

When I look at general acl documentation, I get a little scared by their use of agent and group for permissions.  Is that where we would be going?

[2017-05-03 19:44] lsitu commented on #84
@GregReser I think this model is introduced in the hyku project, which should be built on top of hyrax and I don't know whether it's implemented or not. And @mcritchlow may know more about it. But we've implemented  our own group access control basing on hyrax, which is similar to what we've done for DAMS4.

Here is the hydra local defined acl terms: https://github.com/projecthydra/hydra-head/blob

[2017-05-04 17:10] lsitu commented on #84
@GregReser Here is an overview of hydra access control that you may be interested in: https://github.com/projecthydra/hydra-head/wiki/Lesson---Quick-Overview-of-Access-Controls-in-Hydra

[2017-05-04 17:50] #83 closed, assigned to hweng

[2017-05-04 21:23] ghost commented on #84
It looks like using hydra access control would add some complexity - more properties.  Am I right in saying they don't have a simple visibility property, they have 4?
acl:visibilityDuringEmbargo
acl:visibilityAfterEmbargo
acl:visibilityDuringLease
acl:visibilityAfterLease

We aren't using lease, so we can eliminate that, but we would still have two.  Is that right?
acl:visibilityDuringEmbargo
acl:

[2017-05-04 21:43] lsitu commented on #84
@greg Yes, they use two visibility properties for embargoed objects. The first one acl:visibilityDuringEmbargo is private by default while the other (acl:visibilityAfterEmbargo) is public. Do we need to change the behavior of the embargoed objects implemented in hyrax as well?

[2017-05-04 22:07] ghost commented on #84
@lsitu We were not going to use a property like visibilityAfterEmbargo.  Instead, visibility would always change to "public" when the embargo expires.

We currently handle embargo with two properties:
embargo expiration
visibility

Hydra would be at least 4 properties:
hasEmbargo
visibilityDuringEmbargo
visibilityAfterEmbargo
embargoReleaseDate

From a policy point of view, I don't think we need a

[2017-05-04 22:46] lsitu commented on #84
@GregReser Actually the term `visibility` in hyrax is not a property but a keyword/variable that is keeping track of the state of an object.
I think it'll be great if we can utilize the terms in hyrax and map our properties to it. If we can't do that, we'll see how to implement our version of it. But I would suggest following the implementation pattern in hyrax for visibility to have a predicate l

[2017-05-04 22:59] ghost commented on #84
@lsitu losing hyrax embargo functionalities is a very good reason to change to the acl properties.  If we do this, can we just implement these properties for embargo (not do lease at this time)?
acl:hasEmbargo
acl:visibilityDuringEmbargo
acl:visibilityAfterEmbargo
acl:embargoReleaseDate

These would replace our embargo expiration (row 69)  and visibility (row 70) in "dams5_data_dictionary", correc

[2017-05-04 23:53] lsitu commented on #84
@GregReser Yes for the properties. But we just need to provide the values for acl:visibilityDuringEmbargo, acl:visibilityAfterEmbargo and acl:embargoReleaseDate and hyrax will construct an Hydra::AccessControls::Embargo instance for property acl:hasEmbargo.

Yes, These would replace our embargo expiration (row 69) and visibility (row 70) in "dams5_data_dictionary".

At this time, I think the CVs f

[2017-05-05 00:19] lsitu commented on #84
@GregReser I think we may still need a way to mark a state of and object. Is column visibility a good fit for values like public, campus, curator, suppress-discovery, metadata-only, and culturally-sensitive? I think we can assume that the state of an object (visibility) is implied by the combination of permission (such as public, campus etc) and predicates like acl:hasEmbargo, pcdmrts:rightsOverri

[2017-05-05 15:07] mcritchlow opened #96 "Statistics: DAMS Top 100"
### Rationale

Existing report feature in DAMS4

### Expected behavior

As a user, I want to see the listing out of the top 100 objects viewed, and I expect this to be updated each month.

Properties:

- Thumbnail
- Object title
- Collection title
- Views
- ~~Peeks~~ <-- Remove Peeks (GAM)

![image](https://cloud.githubusercontent.com/assets/67506/25751414/c6e87412-3169-11e7-941c-83d944103149.png)

[2017-05-05 15:10] mcritchlow opened #97 "Statistics: Summary By Month"
### Rationale

Existing report feature in DAMS4

### Expected behavior

As a user, I want to see the total number of collections, total number of unique items, total size in megabytes, number of times DAMS UI was accessed, number of queries conducted, number of times unique items were accessed (functionality calls on object), number of times unique items were viewed.

Properties:
- Collections
- T

[2017-05-05 15:13] mcritchlow opened #98 "Statistics: Usage by Month"
### Rationale

Existing report feature in DAMS4

### Expected behavior

As a user, I want to see a table summary of monthly DAMS usage. Should be adjusted to cover the entire fiscal year for a given year (for DAMS 5.0).

Properties:

- Usage
- Search
- Browse
- Home Page
- Collection Page

![image](https://cloud.githubusercontent.com/assets/67506/25751661/a7f6fa50-316a-11e7-961b-60f2f2dfef30.png)

[2017-05-05 15:16] mcritchlow opened #99 "Statistics: Item Usage by Month"
### Rationale

Existing report feature in DAMS4

### Expected behavior
As a user, I want to see a table summary of monthly DAMS object usage. Should be adjusted to cover the entire fiscal year for a given year (for DAMS 5.0).

Properties:

    Total
        Access
        Views
    Object
        Usage
        Views

![image](https://cloud.githubusercontent.com/assets/67506/25751800/136b4d86-316b-

[2017-05-05 15:18] mcritchlow opened #100 "Statistics: Collections Access by Month"
### Rationale

Existing report feature in DAMS4

### Expected behavior

As a user, I want to see an alphabetical listing of DAMS collections accessed by month. Should be adjusted to cover the entire fiscal year for a given year (for DAMS 5.0).

Fiscal year: July 1, 2XXX - June 30, 2XXXY

Properties:

    Collection title
    Times accessed by month

![image](https://cloud.githubusercontent.com/ass

[2017-05-05 15:20] mcritchlow opened #101 "Statistics: Keywords/Phrases"
### Descriptive summary

Provide a brief summary of the requested work. If appropriate, include any relevant tracebacks, screenshots, etc. if you're reporting a bug.

### Rationale

As an administrator, I want to be able to see keyword/phrase searches for any given period of time.

- Calendar/date picker.

- Phrase search is an exact search with quotes and keyword searches can contain single word

[2017-05-05 15:23] mcritchlow opened #102 "Statistics: Collections CSV report"
### Rationale

Existing report feature in DAMS4

### Expected behavior
As an administrator, I need to capture total number of collections, total number of unique items, total size in megabytes, number of times DAMS UI was accessed, number of queries conducted, number of times unique items were accessed (functionality calls on object), number of times unique items were viewed.

- CSV export.
- Lock

[2017-05-05 15:24] mcritchlow opened #103 "Statistics: Object Hits by Month"
### Rationale

Existing report feature in DAMS4

### Expected behavior
As a user, I want to be able to access a table capturing the number of times people hit items belonging to a specific collection (per collection).

Properties:

- Collection
- ARK
- Views by month

![image](https://cloud.githubusercontent.com/assets/67506/25752145/382a59a4-316c-11e7-96bf-aeb1497e1f14.png)

[2017-05-05 15:26] mcritchlow opened #104 "Statistics: Object Downloads by Month"
### Rationale

Existing report feature in DAMS4

### Expected behavior
As a user, I want to be able to access a table capturing the number of unique downloads for objects in any given collection.

Properties:

- Collection
- ARK
- Downloads by month

![image](https://cloud.githubusercontent.com/assets/67506/25752217/7601ad54-316c-11e7-92b8-e4eb2221daef.png)

[2017-05-05 15:28] mcritchlow opened #105 "Statistics: RDCP File Download by Month"
### Rationale

Existing report feature in DAMS4

### Expected behavior
As a user, I want to be able to access a table capturing the number of unique downloads at the component level.

Must include curator and non-curator downloads

Properties:

- Collection
- Object title
- Component title
- ARK(s)
- Downloads by month

![image](https://cloud.githubusercontent.com/assets/67506/25752334/d0f52df8-31

[2017-05-05 15:29] mcritchlow opened #106 "Statistics: RDCP Object Views by Month"
### Rationale

Existing report feature in DAMS4

### Expected behavior
As a user, I want to be able to access a table capturing the number of unique object views.

Must include curator and non-curator downloads

Properties:

- Collection
- Object title
- ARK
- Views by month

![image](https://cloud.githubusercontent.com/assets/67506/25752409/fe89b0ae-316c-11e7-8201-19458c338b9e.png)

[2017-05-05 16:41] ghost commented on #84
@remerjohnson what do you think?

[2017-05-05 16:48] remerjohnson commented on #84
I think it could work. It's a little unwieldy at the spreadsheet level, but it seems like this wouldn't be used so often, and would help when you have a collection with many different embargo dates (as some of our research collections do).

[2017-05-05 17:19] ghost commented on #84
OK, trying to translate this into "dams5_data_dictionary".  I've updated it with these properties.
69 - embargo release date
70 - visibility during embargo
71 - visibility after embargo
@lsitu when you say "we may still need a way to mark a state of and object", do you mean we need another property to record for values like public, campus, curator, suppress-discovery, metadata-only, and culturally

[2017-05-05 18:16] lsitu commented on #84
Thanks Greg.
Yes, we need a way to address the visibility/state of the object which is used by Hyrax to build  permissions for access control. This is the visibility option in the object ingest form https://github.com/ucsdlib/horton/issues/85#issuecomment-295342365. However it's not a property but a variable/keyword in hyrax that is used to create the permissions for access control. The predicate

[2017-05-05 18:42] ghost commented on #84
Will the ingest form also have visibility settings for after embargo?  Can we just make it always "public" (no selection necessary by the user)

[2017-05-05 19:16] lsitu commented on #84
Yes. The form has visibility settings for after embargo. And we can make it always "public".

[2017-05-05 19:30] ghost commented on #84
OK, then for the object_import_template, we only need one column for visibility and for clarity (so we know what it is for), let's call it "visibility during embargo".  Will that work?

[2017-05-05 19:54] lsitu commented on #84
Hi Greg,
Yes. That works! Thanks. We can simply set visibility_after_embargo to public/open access when object is embargoed.
How are we going to address the visibility state in the [dams5 data dictionary](https://docs.google.com/spreadsheets/d/134Hxqafmz70X0glD3T98-pLMUwOK18oftvdSWOYdJ2k/edit#gid=616154196)? And how about the predicate(s) for our custom visibilities (suppress-discovery, metadata-o

[2017-05-05 20:12] ghost commented on #84
I guess we can't extend the CV for visibilityDuringEmbargo [private | campus], right?

[2017-05-05 20:16] lsitu commented on #84
Yep, I think it could be a little tricky since this will bring up lots of things from the bottom of hyrax.

[2017-05-05 20:24] ghost commented on #84
Does hyrax have a simple visibility setting (not during or after embargo, just simple visibility without any embargo applied)?

[2017-05-05 20:31] lsitu commented on #84
No. It's a fixed model but I think we can simply set visibility_during_embargo to private/curator, just like what we've discussed for visibility_after_embargo.

[2017-05-05 20:41] remerjohnson commented on #84
@lsitu re: https://github.com/ucsdlib/horton/issues/84#issuecomment-299560522

We have those as access/override predicates still in the data dictionary "Rights/URI's" tab. Are these still doable?

[2017-05-05 21:47] lsitu commented on #84
Yes, it sounds good and I can start with the implementation once we agree on that.

[2017-05-05 21:53] ghost commented on #84
Which predicates from "Rights/URI's" tab?
pcdmrts:rightsOverride
pcdmrts:rightsOverrideExpiration

[2017-05-05 22:01] lsitu commented on #84
@GregReser I am fine with pcdmrts:rightsOverride. But will we still use pcdmrts:rightsOverrideExpiration with embargo settled by acl:embargoReleaseDate?

[2017-05-05 22:26] ghost commented on #84
I don't think so, but that's what I was unclear about.  Would we use pcdmrts:rightsOverride when there is no embargo or is anything not "public" embargoed?

I added visibility on row 69 of [dams5 data dictionary ](https://docs.google.com/spreadsheets/d/134Hxqafmz70X0glD3T98-pLMUwOK18oftvdSWOYdJ2k/edit#gid=616154196)
Is the CV OK? [suppress-discovery | metadata-only | culturally-sensitive]

What el

[2017-05-05 23:02] lsitu commented on #84
I think this is good enough for the implementation. Just a little question that I can't use the hyrax keyword `visibility` as the property name for pcdmrts:rightsOverride. Could we use `rights override` as the property name instead?
Also, in the [object import template](https://docs.google.com/spreadsheets/d/1EhMWaDFsBZDhp-BU-5LtOI0tECDx2EtAZ28iZk-Ih58/edit#gid=559462679), do you still want a visi

[2017-05-08 18:08] lsitu commented on #84
@GregReser I see the Range (xsd:anyURI) and the instructions for visibility_during_embargo in the [Object Import Template](https://docs.google.com/spreadsheets/d/1EhMWaDFsBZDhp-BU-5LtOI0tECDx2EtAZ28iZk-Ih58/edit#gid=559462679) (row # 125) doesn't inline with what's in Hyrax, which are literal values (open for public and authenticated for campus/institution). I think we have no control over these v

[2017-05-08 18:20] ghost commented on #84
@lsitu I updated visibility_during_embargo to rdfs:Literal	string (controlled [private | campus])
I guess we will also need an import header for the visibility value we are using in pcdmrts:rightsOverride

[2017-05-08 18:36] lsitu commented on #84
Thanks Greg. I'll implement the visibility header as an option to override the value submitted from the Batch Import form then. Is it Okay to use rightsOverride as the properties name for predicate pcdmrts:rightsOverride (see row # 69 in [dams5 data dictionary](https://docs.google.com/spreadsheets/d/134Hxqafmz70X0glD3T98-pLMUwOK18oftvdSWOYdJ2k/edit#gid=616154196))?

[2017-05-08 18:49] ghost commented on #84
Yes, but let's make pcdmrts:rightsOverride  properties name "rights override", following or convention for other labels.

[2017-05-08 23:02] lsitu commented on #84
@GregReser It sounds good and I'll use "rights override" as property name.
I also found that the CVs for column `copyright status` may not be inline with those in the dams5 data dictionary and the [rights metadata documentation](https://lisn.ucsd.edu/display/DOMM/Revised+Rights+Metadata+Structure+Recommendation+2017). Could you take a look?

[2017-05-08 23:32] lsitu commented on #84
Also, do we still have [rights statement](https://docs.google.com/spreadsheets/d/1EhMWaDFsBZDhp-BU-5LtOI0tECDx2EtAZ28iZk-Ih58/edit#gid=559462679) (row#122)? I don't see it in the dams5 data dictionary.

[2017-05-09 16:04] lsitu commented on #84
@GregReser It looks like that the CVs for license (row#124) in the [object_import_template](https://docs.google.com/spreadsheets/d/1EhMWaDFsBZDhp-BU-5LtOI0tECDx2EtAZ28iZk-Ih58/edit#gid=559462679) is outdated as well. The CVs still under header `rights|rights MATCH` and some values are different from the dams5 data dictionary. Could you take a look as well?

[2017-05-09 16:20] ghost commented on #84
@remerjohnson which URIs are we using for copyright status?  On dams5_data_dictionary, the values given in Rights URIs and Controlled Values tabs are different.

[2017-05-09 16:28] ghost commented on #84
@remerjohnson confirmin that the rights properties in dams5_data_dictionary are up to date.
We are no longer using rights statement
copyright status is now using the predicate edm:rights and the CV is ?

[2017-05-09 16:40] ghost commented on #84
@lsitu I have update the object_import_template license CV to match dams5_data_dictionary

[2017-05-09 16:43] lsitu commented on #84
Thanks, Greg. I'll update the object_import_template for horton then.

[2017-05-11 19:53] #94 closed, assigned to hweng

[2017-05-11 19:55] #86 closed, assigned to VivianChu

[2017-05-12 17:41] hweng commented on #93
@mcritchlow After upgraded, I got 73 test failure. Basically they all point to `Failure/Error: @search_state ||= Hyrax::SearchState.new(self)`

Looking into hyrax and horton, I think that's because there were the exactly same methods copied over to our local app, and the #search_state method was removed from hyrax recently:
https://github.com/projecthydra-labs/hyrax/commit/e23b9c2e86ef177543d01a64

[2017-05-12 18:04] hweng commented on #93
And also got 7 errors in batch_import_job.rb, such as
[code]

[2017-05-12 18:06] lsitu commented on #93
@hweng I think there is some historical reasons for the controller class there and we always need to refactor it when moving forward with the changes in Hyrax. Please remove it if it's not necessary. Thanks.

[2017-05-12 18:25] hweng commented on #93
@lsitu The `Failure/Error: @search_state ||= Hyrax::SearchState.new(self)` caused by controller class got fixed.
There are 7 new failures caused by batch ingest work.

[2017-05-12 20:33] lsitu commented on #69
@remerjohnson We just talked about the ticket during our sprint wrap up meeting. Is there anything else you want me to do? Otherwise I think we can close the ticket.

[2017-05-12 20:43] lsitu commented on #85
@arwenhutt I think we've implemented the mockups in ticket [Implement new Rights metadata model](https://github.com/ucsdlib/horton/issues/84) (see PR https://github.com/ucsdlib/horton/pull/108). Could we close the ticket now? Thanks.

[2017-05-12 21:41] gamontoya commented on #89
@mcritchlow Where are we at with this ticket?

[2017-05-12 23:44] #93 closed, assigned to hweng

[2017-05-12 23:55] mcritchlow commented on #89
@gamontoya we need to discuss still. maybe make part of our 1-1 agenda for next week?

[2017-05-23 20:21] gamontoya commented on #89
## Background:

Sufia/Hyrax has its own static page feature that we can use.

## Pros and Cons:

- Pro: One less thing we would have to be responsible.
- Con: Doesn't have WYSIWYG editor into it. Would need to know what HTML to add.

We could ditch the pages things entirely and have them built out in the app as HTML pages but updates or changes would require a deploy.

## Decision:
**We should try

[2017-05-30 15:56] mcritchlow opened #110 "Upgrade Hyrax dependencies"
### Descriptive summary

- [x] Update to latest Hyrax 2.0-alpha commit
- [x] Gemnasium: https://gemnasium.com/github.com/ucsdlib/horton/alerts

### Rationale

Addressing vulnerabilities in dependencies, stay up to date with Hyrax changes.

[2017-05-30 17:51] mcritchlow opened #111 "Finalize File Use modeling"
### Descriptive summary

We need to reach agreement on our mapping of existing file use properties in DAMS4 to DAMS5. Longshou noted this is the last (major) mapping/modeling task that we've yet to finish.

If a meeting is needed let's get that setup.

### Rationale

Because data models.

### Related work

#46 - dependency

[2017-05-30 17:52] mcritchlow commented on #111
Going to initially assign @arwenhutt and @remerjohnson and then we can sort out ultimate responsibilities, next steps, etc., as needed.

[2017-06-01 15:41] mcritchlow commented on #85
@lsitu i think we'll close this out and open a new ticket if/when changes are needed. this is an excellent first pass.

[2017-06-01 15:41] #85 closed, assigned to lsitu

[2017-06-01 21:48] arwenhutt commented on #111
@mcritchlow @lsitu
@remerjohnson and I discussed this today and he is taking lead on this.

There will probably be some questions here for ITS at some point, should he @ both of you?

[2017-06-01 21:51] mcritchlow commented on #111
Yep that sounds good to me. We could hash those out here if that works, and then of course meet if needed as well.

[2017-06-06 16:53] #84 closed, assigned to lsitu, arwenhutt

[2017-06-06 16:53] #59 closed, assigned to lsitu

[2017-06-07 16:38] remerjohnson commented on #111
@mcritchlow @gamontoya So a missing piece of this for me is how functions similar to our notion of "File Use" work when just using the Horton/Hyrax interface. I'd like to make recommendations that are basically similar to current functionality, just in batch form. Or are all derivatives inferred from file type/format?

[2017-06-07 16:45] mcritchlow commented on #111
@remerjohnson, @lsitu has the most experience in this. so pinging him to look at your question

[2017-06-07 17:01] remerjohnson commented on #111
Thanks. Also would like to know if the [PCDM Use](http://pcdm.org/2015/05/12/use) is utilized by Hyrax or not.

[2017-06-07 18:28] mcritchlow commented on #50
@remerjohnson any updates or changes here? Based on the last part of your last comment, this might be relevant for #111 ?

[2017-06-07 19:24] remerjohnson commented on #50
@mcritchlow It might be. I'll probably talk about it in #111 but it would probably be helpful if we could have more than 2 File Use values, because of certain use cases coming in for transcripts, FITS exports, OCR, etc.

The other option, but I'm not sure about implementation, would be to have something like `hasRelatedFile` for the FITS or other XML output as recommended in the [Technical Metadat

[2017-06-07 19:43] mcritchlow commented on #50
@remerjohnson - ok. I'm just wondering if we need to keep this open or not. It's been hanging for a few months, so thought I'd check in. Thanks

[2017-06-07 20:04] remerjohnson commented on #50
@mcritchlow Yeah good point. I'm reaching out to Annalise (and Stefan) again to nail this down and resolve lingering stuff like disk images. Then if there's anything special we need I'll update here (or just close this out if nothing else needed).

[2017-06-07 21:16] lsitu commented on #111
@remerjohnson As far as I know, the "File Use" work in hyrax is still on going and it won't be reflected in the Horton/Hyrax interface at this time. All files uploaded is marked as "original_file"  and the derivatives are bounded to file type/format (which determines the derivative extension) for retrieving and no technical metadata is extracted and persisted in the Fedora/triplestore.
I think we

[2017-06-07 22:19] remerjohnson commented on #111
@lsitu So does that mean we can use what's in the existing Excel File Use vocab, or should I revise them?

[2017-06-07 22:32] lsitu commented on #111
@remerjohnson We could but we had better map it to [PCDM Use](http://pcdm.org/2015/05/12/use) if we can, especially the related works are ongoing. If we can't stick with it, yes, we could implement our own set of file use properties. I have to mention that the file use in hyrax is not a property but a rdf:type with a url like http://pcdm.org/use#OriginalFile.

[2017-06-08 17:09] remerjohnson commented on #111
So, sketching this out. @mcritchlow @lsitu. Keep in mind this is biased for DOMM's use... (e.g. our "original" use values will generate service derivatives, thumbnails etc)

1. We can squash all the use#OriginalFile values into one value (`original`) if you are certain Hyrax will just handle all that based on the file type. Would it be fine with data, and offer up .zip and .tar files, and just the

[2017-06-08 17:43] ghost commented on #111
What about:
- document source files, such as TIFFS used to create a PDF?
- audio or video source files (unedited file(s) used to create the file we want to give user)?

I'm ingesting objects now that have a .zip of several raw audio files that were edited down to the public version.  The curator wants those source files to be archived in case a different edit might be desired in the future.

I gue

[2017-06-08 18:07] remerjohnson commented on #111
@GregReser Was hoping those could all go in as `preservation`. The access controls I'm not so clear on. I was assuming these would be "curator-only" but as I mentioned yesterday, that role is not so clear and I could imagine cases where we want people to access this stuff...

But yeah, that's where I come back to us needing probably more than just 2 use values... could easily see the case where we

[2017-06-08 18:19] ghost commented on #111
Does "preservation" do anything other than control derivative creation and visibility?  Do we only preserve (via Chronopolis) that one file and not originals or do we really preserve all files equally?  I'm guessing all files are preserved.  If that's true, then "preservation" also denotes that this is the most complete file we have.  It may not be the best (in terms of color correction, etc.) but

[2017-06-08 18:27] remerjohnson commented on #111
Basically yeah, it's just denoting derivative and visibility. The vocab says

So, yes it would seem (and I would hope!) the source "original files" that get derivatives (e.g. TIFFs we want derivatives of to display) also would be preserved, but this `preservation` designation is a way of saying, the system doesn't need to do anything special with this file(s), just preserve it as part of this file

[2017-06-08 18:34] ghost commented on #111
And if those source files need to be available to users, they will just be linked to components and typed as original.  For instance, an uncropped, unretouched image file could be added as another component with a title explaining what it is.

[2017-06-08 18:56] remerjohnson commented on #111
True, although in that case, if marked original, it would generate derivatives. Is that fitting the use case?

[2017-06-08 19:10] ghost commented on #111
Yes, because a preview image, zoom/viewer, and thumbnail would be needed for navigation and viewing.  This assumes the file is meant to be viewed - say we thought the unretouched and retouched versions were of equal value, or at least, we want the user to see both versions and decide for themselves.

[2017-06-08 19:13] arwenhutt commented on #111
If I'm understanding @lsitu correctly, is it necessary to include "audio" "text" etc. as part of the vocabulary or could the specific way a "file use" type is implemented (say for example what type of derivative is created for a file marked with "original") be driven by the file's format?

[2017-06-08 19:25] remerjohnson commented on #111
@arwenhutt Right, if the system can handle that, we could just use `original`. As far as I can tell, that's the current state of Hyrax (if something's not recognized, it's just offered as binary).

Then it could look like:

|DAMS5|DAMS4|PCDM Use|Desired Behavior|
|---|---|---|---|
|preservation|source?|[use#PreservationMasterFile](http://pcdm.org/use#PreservationMasterFile)|Do not generate derivat

[2017-06-08 19:39] arwenhutt commented on #111
okay, thanks, I was going on the proposed values in the table.

The other use case that I can think of is where curators wanted to display a derivative version, but also allow download of the source file.  This could apply to any file format, but would evoke the same actions as `original` PLUS make the file in question publicly downloadable.  It could be labeled something like `original-open`.

It

[2017-06-08 19:50] arwenhutt commented on #111
@remerjohnson okay, so looking at the updated table you added to your previous comment, does `service` serve the function I mentioned?

(it just occurred to me, are we mixing apples and oranges?  aren't the hyrax use terms internal use indicators, while the terms we need for ingest are more triggering a series of actions performed on ingest, creation of additional files in some cases, and assignme

[2017-06-08 20:15] ghost commented on #111
I had the same concern about the label "preservation", especially if it were ever used for some kind of automatic process, like archiving or exporting.  Trying to determine "Best quality representation of the Object appropriate for long-term preservation" is open to interpretation and hard to apply consistently.  I don't know what the answer is since we are trying to work within Hyrax.  Maybe we j

[2017-06-08 20:16] remerjohnson commented on #111
@arwenhutt I don't see DOMM using `service` really, and the system would seem to generate those, same with [thumbnail](http://pcdm.org/use#ThumbnailImage). I think this "source download" use case would need its own label/rules.

Keep in mind, anything not recognized would (I think) offer the "source" file as download. I have no idea if this kind of override functionality can be implemented. @mcrit

[2017-06-08 20:19] arwenhutt commented on #111
So I'm wondering then of the value of letting the PCDM terms guide our approach?

[2017-06-08 20:23] remerjohnson commented on #111
That's not something I could speak to unfortunately. Would need dev input.

[2017-06-08 20:28] arwenhutt commented on #111
It just seems we're winding ourselves into a kind of knot, trying to resolve our local use cases, with the as yet unimplemented list of PCDM terms.  Might be worth considering whether they'll make things more or less complicated.

Aside from that, I think it's also worth thinking about whether there's value in separating these two ideas:
1. terms that indicate what the system should do with the fi

[2017-06-08 21:42] lsitu commented on #111
@arwenhutt @remerjohnson:
It seems like a good strategic to start. And we may want to know about the following issues:
- What kind of derivatives we need to serve in dams 5?
- How those master and derivatives files are controlled for access? In hyrax, if an object is public, the original files are allowed for public download at this time. But in our case, it looks like we may want some kind of acc

[2017-06-08 21:48] arwenhutt commented on #111
@lsitu Thanks!  I think the question of what derivatives we need will mostly come from your side of the house right?  Based on IIIF requirements, streaming servers, display calls, etc.

Good to know the default for hyrax `original` is to make that downloadable.  So then we would be adding a restriction, rather than a permission.

[2017-06-09 02:10] remerjohnson commented on #111
Yes, taking into account that `original` will allow the download of the source file, I have introduced `curated` (name not important for now) that is our usual use case, where _derivative_ files are the download option.

|DAMS5|DAMS4|PCDM Use|Desired Behavior|
|---|---|---|---|
|preservation|source?|[use#PreservationMasterFile](http://pcdm.org/use#PreservationMasterFile)|Do not generate derivative

[2017-06-09 15:19] lsitu commented on #111
@arwenhutt @remerjohnson  For the derivatives, I mean whether there are any kind of derivatives need to created/stored in derivative filestore/Fedora for any purposes or not.
Regarding hyrax allowing `original` to be downloadable, I think it doesn't matter what file use `name` it is as Ryan said, but we need to know what will be restricted for public access, which is something that we need to impl

[2017-06-16 18:07] #89 closed, assigned to mcritchlow, VivianChu, gamontoya

[2017-06-20 20:17] arwenhutt commented on #111
@remerjohnson can you work with @lsitu on resolving any other open issues for this ticket?

[2017-06-20 20:23] #92 closed, assigned to lsitu

[2017-06-20 20:25] #69 closed, assigned to lsitu

[2017-06-20 20:32] gamontoya commented on #46
**Note:** Waiting on FileUse modeling

[2017-06-20 20:44] remerjohnson commented on #111
@arwenhutt sure

@lsitu Are there any outstanding issues?

[2017-06-20 21:19] #110 closed, assigned to lsitu

[2017-06-20 23:49] lsitu commented on #111
@arwenhutt @remerjohnson No. I don't see any out standing issues but just confusing regarding the "original" file that allow public access and the "presentation" derivative that restricts to curator-only download. In dams4, I understand that the "original" source files are restricted to curator download instead.
Also, do you expect any of the service files like "curated", "presentation", "transcri

[2017-06-21 16:11] remerjohnson commented on #111
I know, it was confusing to me, too. You're correct that the current behavior in dams4 differs from the default Hyrax `original` function, which is why I came up with `curated`. `curated` would mirror what we have now in dams4 - generate derivatives, and the public can download the derivatives.

In `original`, `curated`, and `presentation`, there's public "access" in the sense they can view the de

[2017-06-21 16:46] mcritchlow commented on #111
So I think the distinction we ideally want to make, to follow the convention (and justification behind the convention) is to have anything source/original/master, whatever we call it, persisted in Fedora. And any derivatives/generated files be on disk for fast retrieval. Essentially, being treated as a cache.

By that I mean, anything we would make a derivative **from**, would go in Fedora. Any de

[2017-06-21 17:06] remerjohnson commented on #111
That's definitely the things I've heard in Fedora, as well as horror stories for what happens when you store "everything".

I think this could apply regardless of our File Uses above. `curated` is what I came up with to do roughly what we do now in dams4... that is, we ingest/store the original e.g. .wav file, curators can download that file, but the public can't. Where it gets tricky (and I don't

[2017-06-21 17:11] mcritchlow commented on #111
Gotcha. @lsitu can probably speak more authoritatively, but I don't see any reason why we couldn't support that same mp3 vs wav use case depending on the user role in Hyrax. Assuming it's a global rule, of course. I suspect the same about `presentation`.

[2017-06-21 17:32] remerjohnson commented on #111
Also, should point out `document-extractedText` and `transcript` would be "new" use cases and are therefore probably not critical for implementation. Respectively, they would cover offering mine-able text ("fulltext indexing, such as a plaintext version of a document, or OCR text.") and transcripts/subtitles for movies/audio.

Both of these we don't really do now so this might involve a separate p

[2017-06-21 17:46] mcritchlow commented on #111
Those might warrant their own tickets and be tagged as enhancements. @arwenhutt and @gamontoya might know more about those than I do, but if it's new functionality it might need to float through the Products Groups as well. Not sure.

[2017-06-21 17:50] arwenhutt commented on #111
How would these new use cases intersect with our current use of fulltext indexing for some items?

[2017-06-21 17:52] mcritchlow commented on #111
It _sounds_ like the difference is they're supplied on ingest, rather than being generated from an existing file via our automated fulltext indexing. Is that right, @remerjohnson ?

Transcripts for A/V files would be totally new territory.

[2017-06-21 17:56] remerjohnson commented on #111
@mcritchlow That sounds correct. Although I am not aware of all the currently gets fulltext indexing so :smile:

[2017-06-21 17:58] arwenhutt commented on #111
Yep, we just might want to be aware when determining processes for the ingested fulltext that they play nicely with extracted fulltext, and ideally can be handled by many of the same processes (for simplicity).  I admit I don't know much about those current processes either though, just an impression that it's usually from pdf's and the fulltext is stored in the index.

[2017-06-21 18:01] remerjohnson commented on #111
Yes. It could be that our process will generate the `extractedText` and we never supply one, much like we never supply thumbnails.

[2017-06-21 18:06] mcritchlow commented on #111
True. But going back to one of the first examples you mentioned, a supplied OCR file would be something that presumably wouldn't be extracted otherwise from an original file. At least not with our regular automated extraction process or at the desired level of quality/detail. So if that is something we need to support, we'll need to make sure that File type gets mapped to fulltext indexing, for ex

[2017-06-21 18:06] arwenhutt commented on #111
Ignore this if it's too much of a distraction, but since we're talking about file behavior, do we want to make an effort to make extractedText retrievable in some form?  Maybe the index already does this, or it could be something to think about for a once and future api spec, or maybe it's something that we need to determine as part of the fileUse spec.

It seems like that text would potentially o

[2017-06-21 18:13] remerjohnson commented on #111
Yes, that use case was more of a [Collections as Data](https://collectionsasdata.github.io/) idea

[2017-06-21 19:11] gamontoya commented on #111
@remerjohnson @mcritchlow @lsitu FYI, _the download the .mp3 derivative while allowing curators to download the source .wav file,_  no user is currently allowed to download .mp3 derivatives.

We do have these use cases:
- user can download the .pdf, but only curator can download the .xml
- user can download the .pdf, but only curator can download the .zip
- etc.

[2017-06-21 19:30] remerjohnson commented on #111
@gamontoya Ah yes, those are more representative scenarios... I guess this is difficult because formats are tied to access and it's hard to anticipate all of that.

I think this makes it so that `presentation` isn't needed...

[2017-06-21 19:43] gamontoya commented on #111
@remerjohnson Yeah, we should get away from tying rules to format types.

[2017-06-21 22:39] mcritchlow commented on #111
I agree that would be ideal. The rules should target the File use value, since[ Files can have access control applied to them per PCDM](https://github.com/duraspace/pcdm/wiki#domain-model).

That said, I think we'll end up with some things in conflict. Because right now we are tying format types to rules. For example, we allow anonymous/public users to download mp4's, but not mp3's. As far as File

[2017-06-22 18:15] mcritchlow commented on #111
@gamontoya - is it reasonable to have such a conversation? The inability to download mp3's, for example, I assume was a policy decision at some point. But admittedly it seems a bit odd that we can allow people to download video derivatives, but not audio. Could that be revisited? It really would be nice if we could say that anything with the `service` file designation follows the same set of rules

[2017-06-22 18:18] lsitu commented on #111
And unlike dams4 we have technical metadata extracted for all the derivatives, in hyrax, for derivatives/generated files like mp3/mp4, there is no technical metadata stored in the triplesstores, nor SOLR.

[2017-06-22 18:50] gamontoya commented on #111
@mcritchlow Yes, I think we should have the conversation. Products Group or a specific set of folks?

[2017-06-22 20:25] mcritchlow commented on #111
@gamontoya - Products seems like a good place to start

[2017-06-26 16:43] mcritchlow opened #122 "Upgrade Hyrax to latest commit"
### Descriptive summary

- [ ] Please update to the most available commit for Hyrax.
- [ ] Please provide a summary of the changes in the PR so the entire team understands the context of the changes.

### Rationale

To stay up to date with the latest Hyrax developments upstream.

### References

- #111 ( @lsitu - notes a File ingest job change will potentially impact )

[2017-06-26 16:43] mcritchlow commented on #122
@hweng - feel free to wait until later in the week, or next week if you'd like. Longshou's update from last Sprint is fairly recent.

[2017-07-12 16:23] mcritchlow commented on #122
Re-assigning to @lsitu since @hweng is focused on the derivatives issue for damspas at the moment.

[2017-07-14 23:08] #122 closed, assigned to lsitu

[2017-07-18 16:17] gamontoya commented on #111
### Status:
Waiting on Roger and Cristela to talk to Peter Mueller and the Music Dept. to discuss .mp3 access/downloads.

[2017-07-19 15:51] remerjohnson commented on #50
@mcritchlow So my discussions with Annalise have now turned to UI considerations for things like disk images, and not technical metadata. I think we can move forward with what we have. Also, Samvera Virtual Connect yesterday helped clear up some concerns about these types of objects. I don't have any outstanding concerns.

[2017-07-19 17:52] lsitu commented on #111
@remerjohnson Regarding file use types, could we assume that all source files are `use#OriginalFile`, and we just need to add additional files like `use#PreservationMasterFile` to the fileset for other purpose?

Hyrax assume that all files ingested are `original_file` at this time. If we have other combinations, for example `curated` instead of `use#OriginalFile`, we may need to override the codes

[2017-07-19 18:52] remerjohnson commented on #111
@lsitu I only came up with `curated` to satisfy our current use case, which differs from the current Hyrax `original_file` use (as told to me, anyway), which is: the source files will be available to download. I am told it is very critical we not allow this to happen.

If we can satisfy our current use case with `original_file`, where for example we ingest a .tiff file and mark it as `original` as

[2017-07-19 19:17] lsitu commented on #111
@remerjohnson For the tiff download case, I think we can add additional checks to the file access rule during file downloads since we have other file uses that won't allow for public access. And we don't need to override it from the bottom up through out the hyrax stacks for file ingest, file characterization, derivatives creation etc.

[2017-07-19 19:34] remerjohnson commented on #111
So taking that into account, it could potentially be like:

(Note: `extractedText` and `transcript` could be future implementations)

|DAMS5|DAMS4|PCDM Use|Desired Behavior|
|---|---|---|---|
|preservation|source and alternate|[use#PreservationMasterFile](http://pcdm.org/use#PreservationMasterFile)|Do not generate derivatives, curator-only access _and_ download|
|original|service and source|[use#O

[2017-07-19 21:08] mcritchlow opened #124 "R&D Suppress components from search results"
### Descriptive summary

Please look into our options for suppressing components from search results. Using a custom SearchBuilder, or whatever makes most sense.

If a possible solution is found, please post screenshots and we can potentially move towards a PR in this ticket as well.

### Rationale

While we don't yet know exactly what we want the user experience to be, as it relates to components

[2017-07-25 16:25] mcritchlow opened #125 "Implement authentication and authorization"
### Descriptive summary

Implement SSO (authentication) + AD/LDAP (authorization) for Horton. Considerations:

1. Existing damspas strategy using omniauth-shib gem
2. ILL Billing strategy that @hweng created.

### Rationale

Once we have a test environment, we'll want to immediately get this setup to begin testing access control.

### Related work

* Dependency on having a test environment

[2017-07-25 16:54] mcritchlow opened #126 "Question/R&D: Disqus"
### Descriptive summary

Decision needed as to whether we migrate Disqus commenting functionality to DAMS5/horton.

### Rationale

It doesn't seem that, in the several years DAMS4 has been in production, it's a feature we've utilized. And it brings an additional 3rd-party dependency for each collection/object page load.

That said, if we do still find that feature valuable, should we also use this

[2017-07-25 17:00] mcritchlow opened #127 "Browse By - List of canned links"
### Descriptive summary

In DAMS4 - we have the following browse by canned faceted search links in the navigation:

* Collection
* Creator
* Format
* Topic

Decision(s) needed:
* Given the transition to flat subject hierarchy, is there a change needed for what we're now calling "Topic"?
* Are there other facets that we should consider adding/removing from this list?

### Rationale

Need to decide

[2017-07-25 17:08] mcritchlow opened #128 "Port and integrate new UCSD brand/theme into horton"
### Descriptive summary

Please port, integrate, and 'skin' the horton application with the latest theme and branding from campus.

This ticket DOES NOT include design. Porting of existing homepage, customization of default layout, elements, etc. It is expected that a design phase will occur later to address these issues.

Any confusion on the distinction or scope of this work, let's discuss here.

[2017-07-25 17:08] mcritchlow commented on #128
getting this setup and assigned to David. It will go in to the next Sprint (16).

[2017-07-25 17:54] gamontoya commented on #127
@arwenhutt Something for the DMPS group to discuss?

[2017-07-25 18:10] arwenhutt commented on #127
@gamontoya That's what I was thinking.

[2017-07-28 23:43] VivianChu commented on #124
@mcritchlow - For a new component object , I made a simple change by making the default value "suppress_discovery" instead of "restricted".  For other new object resource object, the default value is still "restricted".  This will suppressed the components in the search results.  Attached are the screen shot.
![searchcomponent](https://user-images.githubusercontent.com/1864660/28739908-d9792a9a-73

[2017-07-31 23:33] lsitu commented on #111
@remerjohnson @GregReser I've moved ahead to implement the file use model that suggested above [#issuecomment-316493125](https://github.com/ucsdlib/horton/issues/111#issuecomment-316493125) for Batch Ingest. At this time it'll work with both CamelCase and underscore values submitted in the Excel template (file 1 use: OriginalFile or original_file; file 2 use:  PreservationMasterFile or preservatio

[2017-08-03 20:55] #124 closed, assigned to VivianChu

[2017-08-07 15:14] mcritchlow commented on #128
@dt-ucsd you still good to go for starting to dig into this in the Sprint starting today?

[2017-08-08 16:46] ghost commented on #127
Using the tracer object, it looks like we currently include these subjects in Browse by Topic:
- conference
- corporate name
- family name
- genre
- geographic
- personal name
- temporal
- topic

We DO NOT include these:
- common name
- cruise
- scientific name
- series

[2017-08-08 16:53] ghost commented on #127
@mcritchlow This is something DMPS should discuss.  Because of travel schedules, we don't have another meeting scheduled until September 20.  Is that OK, or should I try to get the group together sooner?

[2017-08-08 16:58] mcritchlow commented on #127
@GregReser - I think that's probably fine. There's no critical path with this one, just something that occurred to me that we probably wanted to sort out sooner than later (launch of DAMS5).

[2017-08-18 22:27] ghost opened #131 "Question/multi-lingual search and display in DAMS5"
### Descriptive summary
In Hyrax, is it possible to use a language attribute with prefLabel and altLabel in Concept, Agent, Place so they can be returned in search results and displayed in the UI?

Do we need to alter the D5 data model to make this possible?

### Rationale
Users might only know a Concept, Agent, or Place in a particular language and will search for that.  Even if there is an Engli

[2017-08-21 15:00] hweng opened #132 "Review and update the Chinese locale file in the Samvera repository"
### Descriptive summary

 Review and update the Chinese locale file in the Samvera repository.

[2017-08-21 16:41] arwenhutt commented on #127
Including this for DMPS info/discussion -
Per https://github.com/ucsdlib/dams-metadata/issues/12 we may/will want to omit temporal from "Browse by Topic"

[2017-08-21 17:43] mcritchlow commented on #131
This "should" be possible. We'll need to look and see how to do this in the hyrax stack, but i'm sure the underlying RDF functionality for Ruby we're using supports it. The question I'd have is how easily accessible/renderable the data would be for views (such as forms).

So I think we could do a couple things if we want to pursue this more (which I agree is a great idea):

1. R&D by dev team. See

[2017-08-26 03:56] mcritchlow opened #133 "R&D: MARC -> DAMS5"
### Descriptive summary

Our current process for mapping MARC data to DAMS4 involves multiple applications, stylesheets, and programming languages. Let's look for a more direct strategy.

Review Traject, [see comment](https://github.com/ucsdlib/damsmanager/issues/167#issuecomment-323867640), as an alternative to the LOC and DAMS4 XSL stylesheets.

### Rationale

The current process for MARC mappin

[2017-08-30 21:17] hweng commented on #132
@mcritchlow Here is the instruction, feel free to update it: https://github.com/ucsdlib/horton/wiki/The-review-workflow-for-comparing-the-Chinese-translation-of-samvera-hyrax-locales-file

Here is the screenshot for new added/removed lines and their line number for hyax.zh.yml file from Apr. 14th to Aug. 23rd:
![screen shot 2017-08-29 at 3 39 53 pm](https://user-images.githubusercontent.com/243275

[2017-08-30 21:25] mcritchlow commented on #132
That looks great 👍  The only thing off the top I think might be valuable would be to add is a link in your example for Step 3 so people could be taken directly to an example.

[2017-08-30 21:43] hweng commented on #132
Good point, @mcritchlow.  I've added the URL for step 2 because the step 3 and step 2 are the same url. In step 3 there is the instruction for searching and clicking the tabs which are the UI activities.

If it looks good to you, would you send the link to them and can we talk about to move to the next step? Thanks!

[2017-08-30 22:30] mcritchlow commented on #132
I think this is a great start. Whoever ends up being responsible for working with us on this will find this very valuable. I'm going to go ahead and close this. And once I get more direction on who to send this to, I'll do that. At the moment, it's unclear and I don't want to further confuse things :)

[2017-08-30 22:30] #132 closed, assigned to hweng

[2017-09-01 18:39] mcritchlow commented on #128
@dt-ucsd - can you please provide a summary/status update sometime today? Thanks 👍

[2017-09-01 18:42] mcritchlow opened #135 "Upgrade to latest hyrax"
### Descriptive summary

- Please update to the latest Hyrax commit.
- Please provide a summary of the changes in the PR so the entire team understands the context of the changes.

Hyrax 2 beta1 - https://github.com/samvera/hyrax/releases/tag/v2.0.0.beta1

### Rationale

Keeping up to date with Hyrax upstream development. Be prepared well for the upcoming 2.0 version release.

[2017-09-01 20:37] mcritchlow opened #136 "IIIF R&D"
### Descriptive summary

Initial evaluation of IIIF options, particularly based on the excellent experience written up by Jonathan at CHF: https://bibwild.wordpress.com/2017/08/29/full-res-pan-and-zoom-js-viewer-on-a-sufiahyrax-app/

Of particular interest are:

- Evaluating [Cantaloupe](https://github.com/medusa-project/cantaloupe)
- Evaluating `vips` vs `graphicsmagick` vs `imagemagick` to gener

[2017-09-07 18:20] lsitu commented on #136
@mcritchlow I've added initial support for IIIF with OpenSeadragon and Cantaloupe (see PR https://github.com/ucsdlib/horton/pull/137). We can test it  on the demo server once it's ready. Here is the steps to setup and run Cantaloupe:

- Download the latest Cantaloupe release 3.3.2 from https://medusa-project.github.io/cantaloupe/get-started.html.
- Copy cantaloupe.properties.sample and rename it c

[2017-09-08 15:54] #136 closed, assigned to lsitu

[2017-09-08 23:56] lsitu commented on #136
@mcritchlow @VivianChu I found a little bug and create another PR to fix it with a couple more tests to improve the test coverages: https://github.com/ucsdlib/horton/pull/138. Thanks.

[2017-09-25 19:55] mcritchlow opened #141 "Update dependencies"
### Descriptive summary

We have at least one vulnerability in nokogiri, please see Gemnasium and update gems as needed.

[2017-09-27 21:14] #125 closed, assigned to VivianChu

[2017-09-28 21:15] VivianChu commented on #135
@mcritchlow - After discussing this issue via samvera slack. they suggested me to create new issue for hyrax.  Here's the issue I just created https://github.com/samvera/hyrax/issues/1742

[2017-10-03 16:56] #135 closed, assigned to VivianChu

[2017-10-03 16:58] mcritchlow opened #143 "Update to Hyrax 2.0 beta4"
### Descriptive summary

[2.0 Beta 4](https://github.com/samvera/hyrax/commit/a8873d1c3647bbe7a326221192e726de77a76e5d) is released, let's get upgraded to this for horton.

### Rationale

Stay up to date with upstream.

[2017-10-03 17:11] mcritchlow opened #144 "Track progress of upstream Editor access issue"
### Descriptive summary

Keep an eye on: https://github.com/samvera/hyrax/issues/1742

Also see if the upgrade to beta4 in #143 happens to fix the issue.

### Related work

#143

[2017-10-03 17:11] mcritchlow commented on #144
@VivianChu - assigning to you just for overall responsibility of making sure we don't lose track of this.

[2017-10-03 17:12] mcritchlow commented on #141
If it makes ultimate sense to do so, feel free to bundle w/ #143

[2017-10-09 17:49] hweng commented on #143
@mcritchlow The issues are posted in https://groups.google.com/forum/#!topic/samvera-tech/tVw-egF_OkU

[2017-10-11 20:54] mcritchlow opened #145 "Evaluate Hyrax 2.0 beta4 (clean) vs Horton as-is"
### Descriptive summary

I spoke with @VivianChu about this already, but would like @hweng and @lsitu to look into this as well.

Essentially, I would like for us to evaluate where the team feels we might be better off starting fresh with a new Hyrax repo, reviewing the newly supported features/patterns, and then considering how and what to port in. I'm particularly interested in the Collections E

[2017-10-20 23:26] #143 closed, assigned to hweng

[2017-10-25 18:25] mcritchlow opened #147 "Update Hyrax (upstream) chinese locale"
### Descriptive summary

Please update the Hyrax chinese locale file to be up-to-date with the english version.

### Rationale

A Hyrax 2.0 release is coming soon, it would be a great for us to be able to help ensure the chinese locale file is accurate and up-to-date. Note this will need to be done by our team.

[2017-10-27 19:09] gamontoya opened #148 "Evaluate existing code for EZID client gem"
### Descriptive summary

The EZID/DataCite Working Group has been formed and will organize and coordinate efforts around Samvera Partners moving from EZID to DataCite for DOI creation. UCSD will continue to use EZID and therefore this working group would like to see if the existing code from Virginia Tech can be the starting point and also build out DataCite support from there.

UCSD developers (a

[2017-10-27 21:21] mcritchlow commented on #147
@hweng or @lsitu - Could one of you take this for next Sprint please? Thanks!

[2017-10-27 21:24] hweng commented on #147
@mcritchlow I can take care of it.

[2017-11-01 16:30] gamontoya commented on #148
@mcritchlow I added Rick's response above.

[2017-11-20 17:19] mcritchlow commented on #148
@gamontoya - I'll take a look at this and report back once I've got something and/or have more questions.

[2017-11-20 18:25] mcritchlow commented on #148
Ok, here are a few initial things:

1) The Virginia Tech application is using Duke's `ezid-client` gem, so there's nothing really of value there other than a reference implementation we could consult as we build out usage ourselves. They're taking some different directions with their EZID integration that I'm not sure we'll want. For example, they're auto-minting DOI's for every created object.

2

[2017-11-28 22:20] hweng commented on #147
Updates - My pull request is merged into master branch: https://github.com/samvera/hyrax/pull/2274#pullrequestreview-79663283

[2017-12-08 21:15] #147 closed, assigned to hweng

[2018-03-14 19:29] #148 closed, assigned to mcritchlow

[2018-03-16 18:16] jessicahilt commented on #111
@lsitu What are we waiting for on this one?

[2018-03-16 18:42] lsitu commented on #111
We've implemented a local version of the support it, https://github.com/ucsdlib/damspas-rd/commit/e8696d3a7ba2dc81566544144ec098610d5cdc12. So as R&D, this ticket is done. However, I think we want some support from upstream.

[2018-03-16 18:44] #145 closed, assigned to VivianChu, lsitu, hweng

[2018-03-27 20:13] gamontoya commented on #46
Defer for Batch/Import/Export Working Group.

[2018-03-27 20:13] #46 closed, assigned to lsitu

[2018-03-27 20:13] #128 closed, assigned to dt-ucsd

[2018-03-27 20:15] gamontoya commented on #133
Reviewed by MC and GAM.

- Needs to be done (build locally?)

[2018-03-27 20:17] gamontoya commented on #131
Revisit in future.

[2018-03-27 20:25] gamontoya commented on #126
https://lisn.ucsd.edu/display/dlpg/2017-09-26+-+DLPG+Minutes

[2018-03-27 20:25] gamontoya commented on #126
Revisit in the future.

[2018-03-27 20:25] #126 closed, assigned to gamontoya

[2018-03-27 20:32] gamontoya commented on #127
Revisit for future:

- conference
- corporate name
- family name
- genre
- geographic
- personal name
- topic

[2018-03-27 20:33] #90 closed, assigned to lsitu

[2018-03-27 20:34] #16 closed

[2018-03-27 20:34] #63 closed, assigned to nobody

[2018-03-27 20:35] #41 closed, assigned to gamontoya, hjsyoo

[2018-03-27 20:36] #11 closed

[2018-03-27 20:40] #56 closed, assigned to nobody

[2018-05-10 16:23] #111 closed, assigned to lsitu, remerjohnson

[2018-06-07 15:33] mcritchlow opened #152 "Sidekiq optimizations"
### Descriptive summary

I'm placing this here so we don't forget..

https://www.mikeperham.com/2018/04/25/taming-rails-memory-bloat/

Basically, once we start using Sidekiq for DAMS5, we should experiment with doing both of these things. The differences in memory usage are... startling, and if we were paying cloud costs this would be a very expensive thing to _not_ do

1. Set: `MALLOC_ARENA_MAX =